
@{
    ViewData["Title"] = "變更密碼";
}
<link rel="stylesheet" href="~/css/memberInformation.css" asp-append-version="true" />

<section>
    <div class="container">
        <h1>帳號設定</h1>
        <hr>
        <div class="row">
            @await Html.PartialAsync("partialViewAccountSettings")
            <div class="col-md-8 col-lg-8">
                <div class="mb-4">
                    <h2 class ="mb-4">變更密碼</h2>
                    <p></p>
                    <form action="/" method="post">
                        <div class="form-group">
                            <label class="" for="">舊密碼</label>
                            <div class="position-relative">
                                <input type="password" class="form-control password" name="old_password" id="old_password" placeholder="請輸入舊密碼" required>
                                <img src="~/svg/eye-solid.svg" class="checkEye"/>                               
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label class="" for="">新密碼</label>
                            <div class="position-relative">
                                <input type="password" class="form-control password" placeholder="長度須介於6~28個字元" required>
                                <img src="~/svg/eye-solid.svg" class="checkEye" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="">再輸入一次</label>
                            <div class="position-relative">
                                <input type="password" class="form-control password" placeholder="長度須介於6~28個字元" required>
                                <img src="~/svg/eye-solid.svg" class="checkEye" />
                            </div>
                        </div>
                        <button>儲存變更</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/accountSettings.js" asp-append-version="true"></script>


