
@{
    ViewData["Title"] = "修改電子郵件";
}
@model VocalSpace.Models.ViewModel.Account.UserSettingViewModel
<link rel="stylesheet" href="~/css/memberInformation.css" asp-append-version="true" />

<section>
    <div class="container">
        <h1>帳號設定</h1>
        <hr>
        <div class="row">
            @await Html.PartialAsync("partialViewAccountSettings")
            <div class="col-md-8 col-lg-8">
                <div class="mb-4">
                <h2 class="mb-4">變更電子信箱</h2>
                    <p>
                        @if (TempData.Peek("success")!.ToString() != "null" )
                        {
							// 顯示更改成功或失敗訊息
						<div class="alert alert-success" role="alert">
								@TempData.Peek("message");
						</div>
                        }
                    </p>

                    <form action="/" method="post">
                    <div class="form-group">
                            <label class="" for="">舊Email : @Model.Email</label>
                            <div class="position-relative">
                            <span class="badge badge-success ml-3"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="" for="">新Email</label>
                            <div class="position-relative">
                                <input class="form-control" id="NewEmail1" placeholder="" required>                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="">再輸入一次</label>
                            <div class="position-relative">
                                <input class="form-control" id="NewEmail2" placeholder="" required>
                            </div>
                    </div>
                        <button type="submit" id="btn-ChangeEmail">變更電子信箱</button>
                </form>
            </div>
         </div>
    </div>
    </div>
 </section>

 @section Scripts {
    <script>
		$("#btn-ChangeEmail").on("click", function (event) {
			event.preventDefault();

            var NewEmail1 = $("#NewEmail1").val();
			var NewEmail2 = $("#NewEmail2").val();
            if ( NewEmail1 !== NewEmail2 ) {
				alert("兩次輸入的Email不一致");
                return;
			}
			
            $.ajax({
				type: "POST",
				url: "/Accounts/ChangeEmailPost",
                data: { NewEmail : NewEmail1 },
				success: function (res) {
                    if (res.sentSuccess === true  ) {
                        alert(res.message);
					}else{
						alert(res.message);
                    }	
                }
			});
					
					
		});
    </script>
 }
