
@{
    ViewData["Title"] = "變更密碼";
}
<link rel="stylesheet" href="~/css/memberInformation.css" asp-append-version="true" />

<section>
    <div class="container">
        <h1>帳號設定</h1>
        <hr>
        <div class="row">
            @await Html.PartialAsync("partialViewAccountSettings")
            <div class="col-md-8 col-lg-8">
                <div class="mb-4">
                    <h2 class ="mb-4">變更密碼</h2>
                    <p></p>
                    <form action="/" method="post">
                        <div class="form-group">
                            <label class="" for="">舊密碼</label>
                            <div class="position-relative">
                                <input type="password" class="form-control password" name="old_password" id="Oldpassword" placeholder="請輸入舊密碼" required>
                                <img src="~/svg/eye-solid.svg" class="checkEye togglePassword" />
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label class="" for="">新密碼</label>
                            <div class="position-relative">
                                <input type="password" class="form-control password" id="NewPassword1" placeholder="長度須介於6~28個字元" required>
                                <img src="~/svg/eye-solid.svg" class="checkEye togglePassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="">再輸入一次</label>
                            <div class="position-relative">
                                <input type="password" class="form-control password" id="NewPassword2" placeholder="長度須介於6~28個字元" required>
                                <img src="~/svg/eye-solid.svg" class="checkEye togglePassword" />
                            </div>
                        </div>
                        <button type="submit" id="btn-ChangePassword">儲存變更</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $("#btn-ChangePassword").on("click", function (event) {
            event.preventDefault();

			var Oldpassword = $("#Oldpassword").val();
            var NewPassword1 = $("#NewPassword1").val();
            var NewPassword2 = $("#NewPassword2").val();
            if ( NewPassword1 !== NewPassword2 ) {
                alert("兩次輸入的密碼不一致");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/Accounts/ChangePasswordPost",
                data: { NewPassword : NewPassword1,
                            Oldpassword : Oldpassword
                },
                success: function (res) {
                    if (res.success === true  ) {
                        alert(res.message);
                    }else{
                        alert(res.message);
                    }
				},Error: function (xhr) {
                    if (xhr.status === 400)
                    alert(xhr.responseJSON?.message || "舊密碼錯誤");
                    else if (xhr.status === 401)
                    {
                        alert(xhr.responseJSON?.message || "請先登入");
                        nologin();
                    }
                    else{
                        alert(xhr.responseJSON?.message || "發生錯誤，請稍後再試！");
                    }
                }
            });

        });

        $(".togglePassword").on("click", function (event) {
                let passwordField = $(this).siblings("input.password");
                let Type = passwordField.attr("type");
				
                if (Type === "password") {
                    passwordField.attr("type", "text");
                    
                } else {
                    passwordField.attr("type", "password");
                }
            });
    </script>
}
@* <script src="~/js/accountSettings.js" asp-append-version="true"></script> *@


