
@{
}
<link rel="stylesheet" href="~/css/memberInformation.css" asp-append-version="true" />

<section>
    <div class="container">
        <h1>帳號設定</h1>
        <hr>
        <div class="row">
            @await Html.PartialAsync("partialViewAccountSettings")
            <div class="col-md-8 col-lg-8">
                <h2 class="mb-4">你確定要刪除你的帳號嗎？</h2>
                <div class="mb-5">
                    <p>
                        為維護你的權益，在刪除帳號之前，請務必詳讀以下事項！<br>
                        刪除帳號後：
                    </p>
                    <ol>
                        <li>VocalSpace 將不保留你網站上原先的所有內容，務必先自行備份。</li>
                        <li>刪除帳號會無法再存取已建立的交易記錄，如：拍拍手。</li>
                        <li>之後將無法再重新啟動此帳號。</li>
                        <li>因帳號關聯資料眾多，實際完整刪除資料可能需要 48 小時至數天。</li>
                    </ol>
                    <p>如你已確認以上事項，再請點擊「刪除帳號」的按鈕！</p>
                </div>
                <button data-bs-toggle="modal" data-bs-target="#Modal0">刪除帳號</button>
            </div>
            
                <div class="modal" id="Modal0" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">刪除帳號</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Hello Kevin<br>很遺憾你決定離開我們，走之前讓我們知道你的想法吧</p>
                                <select class="" name="leave" id="">
                                    <option value="">對網站上音樂不感興趣</option>
                                    <option value="">不滿意網站的設計</option>
                                    <option value="">其他</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                            <button type="button"  class="btn btn-primary delete">確認並刪除帳號</button>
                            </div>
                        </div>
                    </div>
            </div>
            
		</div>
   </div>
</section>

@section Scripts {
    <script>
        $('.delete').click(function(e){
            $.ajax({
                type:'GET',
                url: `/Accounts/deleteAccountButton`,
                success: function (response) {
					if (response.isSuccess) {
						alert("刪除帳號成功");
					}

                    //  頁面出現彈窗，訊息:"刪除帳號成功"
                },
                Error: function (err) {
                    console.log(err);
                }
            })  
        })
    </script>
}

