@{
	Layout = "_AccountLayout";
	var userEmail = "abc@gmail.com";
}
<i class="bi bi-question-circle" style="font-size: 2em; margin-top: 10%;"></i>
<h3>忘記密碼</h3>
<span class="mt-3">重設密碼信已經寄到 <span style="color: #F9595F; font-weight:bold">@userEmail</span></span>
<span class="mb-3">請依照信中指示，點擊連結以繼續目前操作</span>