@{
	Layout = "_AccountLayout";  
}
<i class="bi bi-question-circle" style="font-size: 2em;"></i>
<h3>忘記密碼</h3>
<span>輸入 帳號 或 電子信箱</span>
<span>我們會寄一封確認信讓你重設密碼</span>
<div id="alertContainer"></div>
<form action="~/Home/Index" method="POST" id="form-reset-password">
    <div class="form-group mt-2">
        <input type="text" id="Username" name="Username" class="form-control" placeholder="帳號 / 電子信箱" required />
    </div>
    <div class="g-recaptcha mt-3" data-sitekey="6Lc1ydwqAAAAANi3QFvKUuS-7VinRux5SQtfMJmU"></div>
    <br/>
    <button type="submit" class="btn btn-primary btn-lg" id="btn-reset-password">寄出重設密碼信件</button>
</form>
<a href="/Accounts/Login" style="text-decoration: none; font-weight: bold; margin-top:20px">回到登入頁</a>


@section Scripts {
    <script>
        document.getElementById("btn-reset-password").addEventListener("click", function() {
            var recaptchaResponse = grecaptcha.getResponse();

            if (recaptchaResponse === "") {
                event.preventDefault();
                showAlert();
            } else {
                hideAlert();
                document.getElementById("form-reset-password").submit();
            }
        });

        function showAlert() {
            var alertContainer = document.getElementById("alertContainer");
                if (alertContainer.childElementCount === 0) { // 確保不重複新增提示訊息
                    var alertDiv = document.createElement("div");
                    alertDiv.className = "alert alert-danger";
                    alertDiv.role = "alert";
                        alertDiv.textContent = "驗證失敗，請重新驗證帳號與點擊下方的驗證框";
                    alertDiv.style = "font-size: 0.8em;padding: 10px;";
                    alertContainer.appendChild(alertDiv);
            }
    }

        function hideAlert() {
            var alertContainer = document.getElementById("alertContainer");
            if (alertContainer.childElementCount > 0) {
                alertContainer.removeChild(alertContainer.firstChild);
            }
    }
    </script>

}