@{
    Layout = "_AccountLayout";
}
<div class="step1">    
    <i class="bi bi-question-circle mt-4" style="font-size: 2em;"></i>
    <h3>忘記密碼</h3>
    <span>輸入電子信箱</span>
    <span>我們會寄一封確認信讓你重設密碼</span>
    <div id="alertContainer"></div>
    <form id="form-reset-password">
        <div class="form-group mt-2">
            <input type="text" id="Username" name="Username" class="form-control" placeholder="請輸入電子信箱" required />
        </div>
        <div class="g-recaptcha mt-3" data-sitekey="6Lc1ydwqAAAAANi3QFvKUuS-7VinRux5SQtfMJmU"></div>
        <br/>
        <button type="submit" class="btn btn-primary btn-lg mb-2" id="btn-reset-password">寄出重設密碼信件</button>
    </form>
    <a href="/Accounts/Login" style="text-decoration: none; font-weight: bold;">回到登入頁</a>
</div>
<div class="step2 d-none">
    <i class="bi bi-question-circle" style="font-size: 2em; margin-top: 10%;"></i>
    <h3>忘記密碼</h3>
    <span class="mt-3">重設密碼信已經寄到 <span style="color: #F9595F; font-weight:bold" id="emailDisplay"></span></span>
    <span class="mb-3">請依照信中指示，點擊連結以繼續目前操作</span>
</div>


@section Scripts {
    <script src="~/js/Accounts.js"></script>
    <script>
        $("#btn-reset-password").on("click", function (event) {
            event.preventDefault();
            var recaptchaResponse = grecaptcha.getResponse();
            var user = $("#Username").val();
            if (!recaptchaResponse) {
                showAlert();
                return false;
            }

        // 檢查帳號、Email 和 reCAPTCHA
            checkForgetPwdUser(user).then(isValid => {
                if ( !isValid) {
                    showAlert();
                    console.log("忘記密碼頁送出錯誤!!!!&查無此人");
                    return false;
                } else {
                    hideAlert();
                    console.log("忘記密碼頁 表單送出!!!! database有這個人!!");
                    // 隱藏 Step1，顯示 Step2
                    $(".step1").addClass("d-none");
                    $(".step2").removeClass("d-none");

                    // 顯示 Step2 中的 userEmail
                    $("#emailDisplay").text(user);
                    console.log("送出email!!!")
                    $.post("/Accounts/ForgetPassword", { userEmail: user }, function (response) {
                        console.log("密碼重設信已寄出");
                    });
                }
            });
        });

        // 顯示錯誤提示訊息
        function showAlert() {
            var $alertContainer = $("#alertContainer");
            if ($alertContainer.children().length === 0) { // 確保不重複新增提示訊息
                var $alertDiv = $("<div>", {
                    class: "alert alert-danger",
                    role: "alert",
                    text: "驗證失敗，請重新驗證電子信箱與點擊下方的驗證框",
                    css: {
                        fontSize: "0.8em",
                        padding: "10px"
                    }
                });
                $alertContainer.append($alertDiv);
            }
        }

        // 隱藏錯誤提示訊息
        function hideAlert() {
            var $alertContainer = $("#alertContainer");
            if ($alertContainer.children().length > 0) {
                $alertContainer.children().first().remove(); // 刪除第一個子元素
            }
        }

        function checkForgetPwdUser(user) {
            return new Promise((resolve) => {
                $.post("/Accounts/CheckUserEmail", { UserEmail: user }, function (data) {
                    if (data.exists) {
                        console.log("此 Email 已存在！");
                        return resolve(true); // Email 已存在
                    } else {
                        return resolve(false); // Email 不存在
                    }
                });
            });
        };
    </script>

}