.password-toggle {
    position: absolute;
    right: 10px; /* 靠右對齊 */
    top: 50%;
    transform: translateY(-50%); /* 垂直置中 */
    cursor: pointer;
    font-size: 1.2rem;
    color: gray;
}

.btn-next {
    font-size: 18px;
    margin-top: 2em;
    width: 100%;
    background-color: #F9595F;
    font-weight: bold;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px
}
.btn-next:disabled {
    background-color: #F9A9AC;
}

#newPassword, #username{
    width:100%;
    height:2em;
}
#step5-title {
    font-size: 35px;
    margin: 15% 0 30% 0;
    font-weight: bold;

}
h3{
    margin:15% 0 15% 0;
    font-weight: bold;
}

h5 {
    margin: 5% 0 5% 0;
    font-weight: bold;
}

input {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding-left: 10px;
    width:100%;
    height:30px;
}

.text-tip{
    color:gray;
    font-size:12px;
}

#step5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 20px;
}
#resendCode {
    margin-top: 12px;
    width: 60%;
    font-size: 10px;
    color: gray;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 5px 10px
}
#resendCode:enabled {
    margin-top: 12px;
    width: 60%;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 5px 10px
}

.btn-backHome {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #4e4e4e;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 2px 50px;
    text-decoration: none;
}
/* 新增的樣式 */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.required::after {
    content: "必填";
    font-size: 12px;
    color: white;
    background-color: #F9595F;
    padding: 1px 6px;
    border-radius: 12px;
}

/* 新增水平排列的容器 */
.horizontal-group {
    display: flex;
    gap: 20px; /* 左右欄位的間距 */
}

    .horizontal-group .form-group {
        flex: 1; /* 讓兩個欄位平均分配寬度 */
    }

select {
    width: 100%;
    height: 30px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding-left: 10px;
}

textarea {
    width: 300px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    height: 100px;
}