section {
    padding: 0;
    margin: 0;
}

/* 當 `data-theme="light"` 時，變成亮色模式 */
[data-theme="light"] {
    --bg-color: #F5F5F5;
    --text-color: #000000;
}

@media screen and (max-width:576px) {
    #name{
        width:90%;
    }
}


/* partialView的css  */
/* 帳號設定的下方nav文字顏色跟--text-color相同 */
.nav-name {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: all 0.2s ease;
}

 .nav-name:hover {
        color: red;
        border-bottom: 3px solid red;
 }

.nav-h2 {
    color: var(--text-color);
}

 .nav-h2:hover {
        color: var(--text-color);
 }


/*  memberInformation.cshtml 的 CSS  */
.form-group {
    margin:1vw 0;
}

button {
    background-color: red;
    color: #F5F5F5;
    border-radius: 10px;
    padding: 5px;
}

/*   imageSetting 的 css */
.btn {
    background-color: red;
    color: #F5F5F5;
    border-radius: 5px;
    padding: 5px;
    width:20%;
}

#avatar {
    border-radius: 50%;
    overflow: hidden;
}

    #avatar img {
        border-radius: 50%;
        object-fit: cover;
    }

.d-flex div {
    
    padding: 1vw 0;
}

/* changePassword 的 CSS*/

/* 顯示密碼的眼睛icon */
.checkEye {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

label {
    margin-bottom:0.5rem;
}

/* 刪除帳號的 CSS  */
ol li {
    margin-bottom: 1rem;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
/* 彈出視窗字體顏色 */
.modal-content  p {
        color: #000000;
}
.modal-title {
    color: #000000;
}