
@media screen and (max-width: 576px) {
    .btn-add-to-Likesong {
        display: none;
    }

    
    .btn-add-to-playlist {
        display: none;
    }

    . btn-share-song {
        display: none;
    }
}

/* 歌曲區塊 */
.ranking-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* .cover-block 專輯圖  */
.cover-block {
    overflow: hidden;
    display: block;
    position: static;
    width: 50px;
    height: 50px;
    /*  padding-bottom: 100%;*/
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.info {
    flex-grow: 1;
}


.artist {
    font-size: small;
    color: lightslategray;
    
}

@media (max-width: 576px) {
    .artist {
        font-size: 10px;
    }
    .btn {
        padding: .35rem .5rem;
    }
}

/* 加入歌單按鈕 */
.btn-outline-secondary {
    margin-right: 10px;
    border: 1px solid gray;
}
/* 我的最愛 */
.btn-add-to-Likesong {
    margin-right: 10px;
    border: 1px solid gray;
}

    .btn-add-to-Likesong:hover {
        margin-right: 10px;
        background-color: rgb(255, 87, 87);
    }

    .btn-add-to-Likesong.selected {
        margin-right: 10px;
        background-color: var(--bg-color);
        border: 1px solid rgb(255, 87, 87);
        color: rgb(255, 87, 87);
    }

/* 歌單區域 */
.addplaylist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

    .addplaylist-item img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        margin-right: 12px;
    }

.addplaylist-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.addplaylist-name {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.addplaylist-song {
    font-size: 14px;
    color: #666;
}

/* 按鈕 */
.addbtn-add {
    background: #ff4d4f;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

    .addbtn-add.selected {
        background: white;
        color: #ff4d4f;
        border: 1px solid #ff4d4f;
    }

    .addbtn-add:hover {
        background: #e63946;
    }

/* 歌單，收藏歌單 */
.btn-outline-secondary.book.selected {
    margin-right: 10px;
    background-color: var(--bg-color);
    border: 1px solid rgb(255, 87, 87);
    color: rgb(255, 87, 87);
}

/* 音樂人區塊 */
/* 圓形大頭貼 */
.artist-cover-block {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%; /* 變圓形 */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

/* 追蹤按鈕：背景紅色、白字、略有圓角 */
.btn-follow {
    background-color: red;
    color: #fff;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 14px;
    }


.artist-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    }




