@{
	ViewData["Title"] = "關於我們";
}
<link rel="stylesheet" href="~/css/About.css" asp-append-version="true">

<div class="about_container">
	<!-- 第一層 圖片置中 -->
	<section class="about_layer">
		<div class="about_content portrait-center" style="flex-direction: column;">
			<img class="landscape" src="/image/logo3.png">
			<h1 class="glow">聲維宇宙 VocalSpace</h1>
		</div>
	</section>

	<!-- 第二層 圖片左側 -->
	<section class="about_layer">
		<div class="about_content portrait-left glow">
			<img class="landscape" src="/image/about1.jpg">

			<h1>專為音樂人打造的共享平台</h1>
			<p>
				無論是獨立創作翻唱作品<br />
				還是錄製的靈感片段<br />
				這裡都是你的音樂空間
			</p>
		</div>
	</section>

	<!-- 第三層 文字右側 -->
	<section class="about_layer">
		<div class="about_content portrait-right glow">
			<img class="landscape" src="/image/about2.jpg">
			<h1>收納各式曲風</h1>
			<p>
				無論你喜歡動感十足的節奏<br />
				還是渴望放鬆的旋律<br />
				我們都能為你提供最豐富的選擇
			</p>
		</div>
	</section>

	<!-- 第五層 圖片左側 -->
	<section class="about_layer">
		<div class="about_content portrait-left">
			<video class="landscape" autoplay muted loop>
				<source src="/video/about3.mp4" type="video/mp4">
				你的瀏覽器不支援影片播放。
			</video>
			<h1 class="font-effect-neon">從抒情</h1>
		</div>
	</section>

	<!-- 第四層 文字右側 -->
	<section class="about_layer">
		<div class="about_content portrait-right">
			<video class="landscape" autoplay muted loop>
				<source src="/video/about4.mp4" type="video/mp4">
				你的瀏覽器不支援影片播放。
			</video>
			<h1 class="font-effect-fire-animation">到搖滾</h1>
		</div>
	</section>


	<!-- 第六層 圖片左側 -->
	<section class="about_layer">
		<div class="about_content portrait-center" style="flex-direction: column;">
			<h1 class="glow">在「聲維宇宙 VocalSpace」</h1>
			<p class="glow">
				創作者不只是發表作品<br/>
				和其他音樂人一起掀起創意風暴品<br/>
				我們定期舉辦音樂活動<br/>
				讓你有機會大放異彩<br/>
			</p>
		</div>
	</section>

	<!-- 第七層 文字右側 -->
	<section class="about_layer">
		<div class="about_content portrait-center" style="flex-direction: column;">
			<img class="landscape" src="/image/logo3.png">
			<h1 class="glow">聲維宇宙 VocalSpace</h1>
		</div>
	</section>
</div>

@section Scripts {
<script>
	const about_layers = document.querySelectorAll('.about_layer');
	const about_layer_spacing = -1200;
	const z_values = [];

	let prev_scroll_pos = about_layer_spacing / about_layers.length;
	handlescroll();

	function handlescroll() {
		const curr_scroll_pos = window.scrollY;
		const scroll_delta = prev_scroll_pos - curr_scroll_pos;
		prev_scroll_pos = curr_scroll_pos;

		about_layers.forEach((about_layer, index) => {
			z_values.push(about_layer_spacing + (about_layer_spacing * index));
			z_values[index] += (scroll_delta * -about_layers.length) * 1;

			let curr_z_value = z_values[index];
			about_layer.style.transform = `translateZ(${curr_z_value}px)`;

			// 透明度控制
			let opacity = Math.min(1, Math.max(0, (1250 - Math.abs(curr_z_value)) / 1000));
			about_layer.querySelector(".about_content").style.opacity = opacity;

			let is_about_layer_hidden = curr_z_value > (about_layer_spacing) / -4;
			about_layer.classList.toggle('hide', is_about_layer_hidden);
		});
	}

	window.addEventListener('scroll', handlescroll);
	if ('scrollRestoration' in history) {
		history.scrollRestoration = 'manual';
	}
	window.onload = function () {
		window.scrollTo(0, 0);
	};
</script>

}
