html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    z-index: -1;
}

/* 內容排版 */
/*main con*/

/*.content {
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}*/

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section1 {
    flex-direction: column; /* 讓元素上下排列 */
}

.loogo {
    width: 15000px; /* 設定圖片的寬度 */
    height: 111111px; /* 高度自動調整，保持圖片的比例 */
    margin-bottom: 20px; /* 設定圖片與標題之間的距離 */
    display: none; /* 讓圖片顯示為區塊元素，這樣可以控制垂直對齊 */
}

.empty-space {
    height: 100px; /* 增加空白區域的高度 */
}

.title {
    font-size: 3rem;
    font-weight: bold;
    opacity: 1;
}

/* 圖片和文字 */
.image {
    width: 40%;
    transition: opacity 1s ease-in-out;
}

.text {
    width: 50%;
    font-size: 1.5rem;
}