@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* https://localhost:7145/Home/About_test *@


<style>
	:root {
		--base-color: #000000; /* 變數:基底顏色 */
		--color: #ffffff; /* 變數:顏色 */
		--vp-unit: calc(1vw + 1vh + 1rem); /* 變數:視窗單位 */
		--ratio: calc(16/9); /* 變數:視窗寬高比 */
		--secwidth: calc(15*var(--vp-unit)); /* 寬度 */
		--secheight: calc(var(--width)/var(--ratio)); /* 高度  **與影片不同，須注意*/
	}



	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		/* font-size:62.5%;  */
	}

	body {
	}

	/* --header-height: 50px; */
	/* --footer-height: 40px; */
	.about__portrait {
		width: var(--secwidth);
		height: var(--secheight);
	}

	.about__landscape {
		width: var(--secheight);
		height: var(--secwidth);
	}

	.about__container {
		position: fixed;
		width: 100%;
		height: calc(100% - 90px);
		transform-style: preserve-3d;
		perspective: 1600px;
	}

	.about__layer {
		width: 100%;
		height: 100%;
	}

	.about__layer {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about__content {
	}

	.about__layer h1 {
		text-transform: uppercase;
		text-align: center;
		font-size: calc(2.5* var(--vp-unit));
		font-weight: 100;
		border: solid 10px green;
	}

	.about__layer p {
		text-align: center;
		width: 50ch;
		font-size: calc(1.5* var(--vp-unit));
		font-weight: 100;
		border: solid 10px blue;
	}

	.about__layer img {
		object-fit: cover;
		object-position: center;
		border: solid 10px red;
	}

</style>

<script>
		const layers = document.querySelectorAll('.about__layer');

		const layer_spacing = -1200;

		const z_values = [];

		layers.forEach((layer, index) => {
			z_values.push(layer_spacing * index);
			layer.style.transform = `translateZ(${layer_spacing * index}px)`;
		});
</script>
<div class="about__container">

	<section class="about__layer">
		<div class="about__content">
			<img class="about__portrait" src="/image/logo3.png">
		</div>
	</section>
	<section class="about__layer">
		<div class="about__content">
			<h1>聲維宇宙 <br />VocalSpace</h1>
			<p>
				一個專為音樂人打造的共享平台<br />
				我們相信，每一個聲音都值得被聽建<br />
				無論是獨立創作翻唱作品、還是錄製的靈感片段<br />
				這裡都是你的音樂空間
			</p>
		</div>
	</section>
		<section class="about__layer">
		<div class="about__landscape" src="/image/logo3.png">
		</div>
	</section>
</div>
