@{
	ViewData["Title"] = "探索聲維宇宙吧";
}
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/96/three.min.js" ></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>



<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="/js/three.js"></script>
<section class="banner ">
	<canvas id="banner_earth" style=""></canvas>
	<div id="banner_position-area">
		<div id="banner_text">
			@* 顯示動態文字 *@
			<h1 class="typing"> </h1>
			<h2 class="typing2"> </h2><br />
		</div>
		<div class="introduce">
			<span>音樂好朋友 前往 [ 發現音樂 ]</span><br />
			<span>分享好聲音 前往 [ 上傳作品 ]</span><br />
			<span>屬於你的音樂選秀 前往 [ 徵選 ]</span><br />
			<button class="btn banner_btn" onclick="window.location.href='/Home/HotRank/0'">
				<span>踏上屬於你的音樂之旅</span>
			</button>
		</div>
	</div>
</section>

<script>
	$(function () {
	  const text1 = "Welcome To VocalSpace";
	  const text2 = "Enjoy your journey!";
	  const speed = 70; // 打字速度 (毫秒)

	  function typeEffect(element, text) {
		return new Promise((resolve) => {
		  let index = 0;
		  function type() {
			if (index < text.length) {
			  $(element).html($(element).html() + text.charAt(index));
			  index++;
			  setTimeout(type, speed);
			} else {
			  resolve(); // 當打字完成後，執行下一個
			}
		  }
		  type();
		});
	  }

	  // 先打完 `.typing`，再打 `.typing2`
	  typeEffect(".typing", text1).then(() => {
		return typeEffect(".typing2", text2);
	  });

	//    // 監聽視窗大小變化，讓 canvas 自適應
	// function resizeCanvas() {
	// 		const canvas = document.getElementById("banner_earth");
	// 		const size = Math.min(window.innerWidth * 0.6, 400); // 取較小值，確保畫布不超過 400px
	// 		canvas.width = size;
	// 		canvas.height = size; // 強制高度等於寬度，保持正方形
	// 	}

	// // 初始化 canvas 大小
	// resizeCanvas();

	// // 當視窗大小變化時，更新 canvas 大小
	// $(window).on("resize", resizeCanvas);
 });



</script>