/*導航欄*/
.nav-pills .nav-link {
    color: var(--text-color); /* 預設文字顏色 */
    border-radius: 50px; /* 圓角按鈕 */
    padding: 10px 30px; /* 內距 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 漸變效果 */
}

    .nav-pills .nav-link.active {
        background-color: var(--bs-danger); /* 點選的按鈕顏色 */
        color: white; /* 文字顏色 */
    }

    .nav-pills .nav-link:not(.active):hover {
        color: var(--bs-danger); /* 滑過未選取的項目顏色 */
    }

.page-container {
    flex: 1;
}

/*下方區域*/

/*篩選區域*/

.buttoncircle {
    border-radius: 50em;
}

.filter-sidebar {
    border: 1px solid #000;

    display: block;
    border: 1px solid #e4e4e4;
    box-shadow: 0 1px 4px;
    border-radius: .4rem;
    word-wrap: break-word;
}

.btn-outline-danger {
    padding: 5px 8px; /* 調整內距使按鈕變小 */
    font-size: 12px; /* 調整字體大小使按鈕變小 */
}

.bottom-container {
    gap: 30px;
}

/*活動列表*/

.postbtn {
    height: 32px;
    border-radius: 10px;
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}


/*彈窗設定(暫定 之後可能會弄成趴秀)*/

.modal-dialog {
    background-color: #FAFAFA;
    color: #181818;
}
