@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="page-container container">
	<div class="col-8 left-container">
		<div class="event-container">
			<div class="event-date">
				<div class="calende-border-block p-0 text-center">
					<div class="bg-danger text-white font-size-sm">3 月</div>
					<h3 class="mb-1 mt-1 text-black">7</h3>
					<h6 class="mb-1 mt-1 text-black opacity-50">星期五</h6>
				</div>
			</div>
			<div class="event-content">
				<img class="event-image" src="/image/Activity/cs.jpg" alt="活動圖片">
				<h1 class="event-title">THE CHAINSMOKERS LIVE IN TAIPEI 2025</h1>
				<div class="event-info">
					<span class="event-time">📅 2025年3日7日 | 19:00</span>
					<span class="event-location">📍 ．臺北市．大佳河濱公園 <a href="#">查看地圖</a></span>
				</div>
			</div>

			<div class="poster-section">
				<h2>1 位街聲音樂人</h2>
				<div class="poster-info">
					<img class="poster-avatar" src="user-avatar.jpg" alt="發帖者頭像">
					<span class="poster-name">The Chainsmokers</span>
					<button class="btn-follow">+ 追蹤</button>
				</div>
			</div>
		</div>

		<div>
			@* 預計加入留言板趴秀 *@
		</div>
	</div>
	<div class="d-flex w-100">
		<div class="col-4 right-container">
			<div class="event-actions">
				<button class="btn-want">⭐ 我也想去！</button>
				<button class="btn-calendar">📅 加入行事曆</button>
			</div>
		</div>
	</div>
</div>
