body {
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 70px 10%;
}

@media (max-width: 768px) {
    .content {
        padding: 20px 40px;
    }
}

@media (max-width: 576px) {

    /*內容區*/
    .content {
        padding: 0;
    }
}

.content__area {
    width: 100%;
    height: auto;
    min-height: 600px;
    border-radius: 10px;
    color: black;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 60px 20px;
    position: relative;
}

@media (max-width: 576px) {

    /*內部大區塊邊框*/
    .content__area {
        border-radius: 0px;
    }
}
.content__area h1 {
    font-size: 5vw;
    font-weight: bold;
}
@media (max-width: 576px) {

    .content__area h1 {
        font-size: 20px;
    }
}
/* 上傳作品-ol */
.upload__list {
    padding: 0px;
}
/* 上傳作品-標題 */
.upload__title {
    display: flex;
}
/* 上傳作品-li */
.upload__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: var(--fsize-menu);
    height: 30px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
   
}
.content-form-list {
    color: var(--text-color);
}
/* 上傳作品-li-歌曲名稱 */
.upload__item-tilte {
    display: inline-block;
    width: 200px;
}
.content-form-list input {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #336699, #66ccff) 1;
    color: var(--text-color);
}
.content-form-list p {
    color:gray;
    font-weight:bold;
}
.upload__item-file:hover, .upload__item-cover:hover, .icon__close:hover, .content-form-list-sm-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}



/* 上傳作品-li-上傳檔案 */
.upload__item-file {
    width: 80px;
    height: 100%;
    background-color: var(--blue-light);
    margin-left: 15px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

.icon__close, .icon__close-data {
    cursor: pointer;
}


/* 上傳作品-li-上傳專輯封面 */
.upload__item-cover {
    margin-left: 20px;
}

/* 上傳作品-li-專輯封面縮圖 */
.content-form-list-sm-img {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    margin-left: 20px;
    transition: transform 0.2s ease-in-out; /* 平滑動畫效果 */
    margin-left:auto;
}
    .content-form-list-sm-img:hover {
        transform: scale(5);
    }



.btn-submit--theme {
    margin-left: 10px;
    max-width: 150px;
    width: 30%;
}

/* 所有內容除 【徵選報名表】標題 */
.content__area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 狀態顯示圖 & form表單 */
.content__area-state, .content__area-form {
    border-radius: 5px;
}


/******************************************************/
/* 上方狀態顯示圖 */
.content__area-state {
    width: 80%;
    height:300px;
    /*position: relative;*/
    text-align: center;
    /*padding: 10px 150px 0px 40px;*/
    padding: 10px 10% 0px 10%;
    background-color: white;
    margin-bottom: 30px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:45px 0px;
    border:1px solid ;
}
@media (max-width: 1400px) {

    .content__area-state {
        padding: 10px 50px 0px 40px;
    }
}
@media (max-width: 992px) {

    .content__area-state {
        flex-direction: column;
        padding: 10px 10px;
        height: 250px;
    }
}
@media (max-width: 576px) {

    .content__area-state {
        margin: 15px 0px 30px 0px;
    }
}
.content__area-state h2 {
    color: #218838;
    font-weight: bold;
    font-size: 4vw;
    
}
@media (max-width: 576px) {

    .content__area-state h2 {
        font-size: 20px;
    }
}
    .content__area-state img{
        height:100%;
        width:auto;
    }

@media (max-width: 992px) {
    .content__area-state img {
        height: 80%;
    }
}
/******************************************************/


    /* form表單 */
.content__area-form {
    width: 80%;
    height: auto;
    padding: 10px;
    color: black;
    border-radius: 5px;
    border: 1px solid lightgray;
}

/* form表單區 活動標題狀態等文字 */
.content__area-form-title {
    width: 100%;
    min-height: 200px;
    height: auto;
    color: black;
    margin-bottom: 30px;
    display: flex;
    padding: 30px;
    /*    border-radius: 5px;
    border: 1px solid lightgray;*/
}
@media (max-width: 1200px) {
    .content__area-form-title {
        padding:25px 5px;
    }
}

    /* form表單區 活動狀態 */
    .content__area-form-title p {
        font-size: var(--fsize-menu-lg);
        color: gray;
        font-weight: bold;
        padding: 0px 40px 20px 40px;
    }
@media (max-width: 576px) {

    .content__area-form-title p {
        padding: 0px 5px 20px 5px;
    }
}
/* form表單活動圖片區 */
.content-form-img-cover {
    width: 30%;
    height:100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
@media (max-width: 992px) {
    .content-form-img-cover {
        display:none;
    }
    
}

/* form表單輸入區與大頭照 */
.content-form {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .content-form {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

/*顯示徵選歌曲的文字*/
.content-form-item span {
    font-size: 1.2vw;
}
@media (max-width: 1200px) {
    .content-form-item span {
        font-size:20px;
    }
}
/*顯示徵選標題的文字*/
.content-form-text p, .content-form-text span {
    font-size: 1.5vw;
}
@media (max-width: 1200px) {
    .content-form-text p {
        font-size: 25px;
    }

    .content-form-text span {
        font-size: 22px;
    }
}
@media (max-width: 992px) {
    .content-form-text p {
        font-size: 20px;
    }
    .content-form-text span {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .content-form-text p {
        padding: 0px 5px 20px 5px;
    }
}
/* form表單輸入區  -ol */
.content-form-list {
    min-width: 200px;
    width: 80%;
    padding-right: 20px;
    list-style: none;
    font-size: var(--fsize-menu);
    /*margin-top:30px;*/
}

@media (max-width: 1200px) {
    .content-form-list {
        width: 100%;
    }
}





/* form表單輸入區  -ol -li */
.content-form-list li {
    margin-bottom: 30px;
    font-size: 1.1vw;
}
@media (max-width: 576px) {
    .content-form-list li {
        font-size: 16px;
    }
}

/*表單標題*/
.content-form-list p {
    font-size: 1.5vw;
}
@media (max-width: 1200px) {
    .content-form-list p {
        font-size: 20px;
    }
}






/* form表單輸入區  -input*/
.content-form-input {
    width: 100%;
    border: 0px;
}
@media (max-width: 1200px) {
    .content-form-input {
        font-size: 20px;
    }
}
/* form表單大頭照區 */
.content-form-img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
    border:1px solid gray;
    border-radius:50%;
}
    .content-form-img img {
        border-radius: 50%;
    }
    .popup__select-works {
        width: 50%;
        border: 1px solid lightgray;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-100%);
        z-index: 1000; /* 確保 overlay 在其他元素之上 */
        display: none;
    }

.popup__select-works-title {
    background-color: #128EE1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.popup__select-works-chosen {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    margin: 10px;
    border-radius: 5px;
    padding:5px;
}

.popup__select-works-list {
    height: 200px;
    overflow-y: scroll;
    margin: 10px;
    border: 1px solid gray;
}

.popup__select-works-button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
    .popup__select-works-button button{
        width:80px;
    }
    .icon__close-pop {
        margin-left: auto;
    }

.popup__select-works-chosen ol, .popup__select-works-list ol{
    list-style: none;
    padding: 0;
}
.popup__select-works-chosen li, .popup__select-works-list li {
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: var(--fsize-menu);
    color:gray;
    font-weight:bold;
}
.popup__select-works-list li{
    display:flex;
    justify-content:flex-start;
}
.overlay {
    position: fixed; /* 固定位置 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);   /* 半透明黑色 */
    z-index: 999;                           /* 確保 overlay 在其他元素之上 */
    display: none;                          /* 預設隱藏，點擊時顯示 */
}
.form-button{
    display:flex;
    width:50%;
    justify-content:space-around;

}
.form-button button{
    width:100px;
    margin:10px;
}

.form-button .btn-cancel--theme{
    background-color:gray;
}