@{
	var deadline = "2024-01-01";
	var joinState = "已截止";
	var voteState = "徵選中";
	var applyState = "wait";
}
<section class="content ">
	<div class="content__area">
		<h1>徵選報名表</h1>
		<div class="content__area-state">
			@if (applyState == "ok")
			{
				<img src="/image/selection/ok.png" />
			}
			else if (applyState == "notyet")
			{
				<img src="/image/selection/notyet.png" />
			}
			else if (applyState == "error")
			{
				<img src="/image/selection/error.png" />
			}
			else if (applyState == "wait")
			{
				<img src="/image/selection/wait.png" />
			}
		</div>
		<div class="content__area-form">
			<div class="content__area-form-title">
				<h1>活動標題 </h1>
				<br />
				<p>徵選截止日:@deadline</p>
				<p>
					徵選狀態: <span style="color:@(joinState == "徵選中" ? "red" : "gray")">@joinState</span>
				</p>
				<p>
					投票狀態: <span style="color:@(voteState == "徵選中" ? "red" : "gray")">@voteState</span>
				</p>
			</div>
			<hr />
			<div class="content-form">
				<ol class="content-form-list">
					<li class="border-bottom">
						<p> 姓名</p>
						<input type="text" class="content-form-input" />
					</li>
					<li class="border-bottom">
						<p> 連絡電話</p>
						<input type="text" class="content-form-input" />
					</li>
					<li class="border-bottom">
						<p> 電子信箱</p>
						<input type="text" class="content-form-input" />
					</li>
					<li class="border-bottom content-form-item">
						<div class="upload__title">
							<p> 上傳作品</p>
						</div>
						<ol class="upload__list">
							<li class="upload__item">
								<span class="upload__item-tilte">我們沒有</span>
								<label class="upload__item-file">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
										<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
										<path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
									</svg>&nbsp;作品
									@* <input type="file" style="display:none" /> *@
								</label>
								<label class="upload__item-cover">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
										<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
										<path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
									</svg>&nbsp;封面
									<input type="file" style="display:none" />
								</label>
								<img src="/image/selection//voteAD.png" class="content-form-list-sm-img" />

								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg icon__close" viewBox="0 0 16 16">
									<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
								</svg>
							</li>

						</ol>
						<div class="popup__select-works">
							<div class="popup__select-works-title">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
									<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707z" />
								</svg>
								上傳現有作品
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x icon__close icon__close-pop" viewBox="0 0 16 16">
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
								</svg>
							</div>
							<div class="popup__select-works-chosen">
								<ol class="popup__select-works-chosen-ol">
								</ol>
							</div>
							<div class="popup__select-works-list">
								<ol>
									<li class="border-bottom ">
										<input type="checkbox" class="popup__select-works-input" data-item="item1" />&nbsp;
										<span>AAAAXXXX</span>
									</li>
									<li class="border-bottom ">
										<input type="checkbox" class="popup__select-works-input" data-item="item2" />&nbsp;
										<span>AAAAXXXX</span>
									</li>
									<li class="border-bottom ">
										<input type="checkbox" class="popup__select-works-input" data-item="item3" />&nbsp;
										<span>AAAAXXXX</span>
									</li>


								</ol>
							</div>
							<div class="popup__select-works-button">
								<button class="btn btn-submit--theme">送出</button>
								<button class="btn btn-cancel--theme">取消</button>
							</div>
						</div>
					</li>
					
				</ol>
				<div class="content-form-img">
					<img src="/image/selection//voteAD.png" />
				</div>

			</div>
		</div>
		<div class="form-button">
			<button class="btn btn-submit--theme">送出</button>
			<button class="btn btn-cancel--theme">取消</button>
		</div>
	</div>
</section>
<div class="overlay">
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
	$(document).ready(function() {
	let chosenUpload=[];
	// 顯示彈窗和 overlay
	$(".upload__item-file").on("click", function(){
		$(".popup__select-works").fadeIn();  // 使用 fadeIn
		$(".overlay").fadeIn();  // 使用 fadeIn
	});

	// 隱藏彈窗和 overlay
	$(".icon__close-pop, .btn-cancel--theme,.btn-submit--theme").on("click", function(){
		$(".popup__select-works").fadeOut();  // 使用 fadeOut
		$(".overlay").fadeOut();  // 使用 fadeOut
	});



	// 當 checkbox 狀態改變時，更新 chosenUpload 陣列並動態添加到頁面
	$(".popup__select-works-input").on("change", function() {
		const item = $(this).data("item");  // 取得 item 標識符
	const itemText = $(this).siblings("span").text();  // 取得同層的 <span> 文字
		if ($(this).prop("checked")) {
			// 當選擇時，加入陣列
			chosenUpload.push(item);

			// 動態添加項目到列表
			$(".popup__select-works-chosen-ol").append(`
				<li data-item="${item}">
					${itemText} &nbsp;
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x icon__close icon__close-data" viewBox="0 0 16 16">
						<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
					</svg>
				</li>
			`);
		} else {
			// 當取消選擇時，從陣列中移除該項目
			chosenUpload = chosenUpload.filter(function(val) {
				return val !== item;
			});
			// 如果要動態更新列表，可以這樣：
			$(`.popup__select-works-chosen-ol li [data-item="${item}"]`).remove();
		}

		console.log(chosenUpload);  // 顯示當前選擇的項目
	});


		$(".popup__select-works-chosen-ol").on("click", ".icon__close-data", function() {
		const item = $(this).closest("li").data("item");  // 取得對應的項目

		// 從陣列中移除該項目
		chosenUpload = chosenUpload.filter(function(val) {
			return val !== item;
		});

		// 從頁面中移除該項目
		$(this).closest("li").remove();

		console.log(chosenUpload);  // 顯示更新後的陣列
	});

	});
</script>