.banner{
        width:100%;
        height:100%;
        display:flex;
        background-color:#152153;
    }

.banner__left{
    width:45%;
}
.banner__right{
    width:55%;
}
.banner__left {
    text-align: right;  /*讓大聲公圖片靠右對齊*/
    position: relative; /*讓按鈕對齊*/
}

.banner__left-btn {
    width: 200px;
    height:40px;
    font-size:18px;
    font-weight:bold;
    position:absolute;
    bottom:40px;
    right:30px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #152153;
    padding:20px 10%;
}
@media (max-width: 768px) {
    .content {
        padding: 20px 40px;
    }
}
.content__card-area {
    width: 100%;
    height: auto;
    min-height:600px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color:black;
}