@{
    Layout = "_Layout";  // 引用全域的 _Layout.cshtml
}

<div class="container mt-5">

	<div class="left-panel">
		<!-- 左邊區塊可以放圖片，這裡可以放廣告 -->
		<div id="ad-image">
			<a href="/Home/Index">
				<img src="/image/login/ad_band_selection.png" border="0" width="100%" height="560"  class="img_ad">
			</a>
		</div>
	</div>
	<div class="right-panel">
		@RenderBody()
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@RenderSection("Scripts", required: false)

