
<style>
	.card-container {
		padding: 70px 20px 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		   background-color: var(--bg-color);
		color: var(--text-color);
	}

	.card__item {
		border: 1px solid #ccc;
		padding: 10px;
		margin: 30px;
		border-radius: 5px;
		background-color: #f9f9f9;
		color:black;
		width: 300px;
		height: 340px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card__img-box, .card__img {
		width: 230px;
		height: 230px;
		margin-bottom: 10px;
		border-radius: 5px;
	}

	.card__img-box {
		position: relative;
		cursor: pointer;
	}

	.card__img {
		height: 100%;
		object-fit: cover; /*放大圖片填滿*/
	}

	.card__item h6 {
		font-weight: bold;
	}

	.card__item p {
		font-size: var(--fsize-menu);
		margin: 0px;
	}

	/* 預設隱藏圖示 */
	.icon__play-circle, .icon__stop-circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		transition: opacity 0.3s ease-in-out;
	}

	/* 當滑鼠 hover 到圖片容器時顯示 icon */
	.card__img-box:hover .icon__play-circle {
		display: block;
	}

</style>

<section class="card-container">
	@model int
	@for (int i = 0; i < 10; i++)
	{
		<div class="card__item  card__item-music">
			<div class="card__img-box">
				<img class="card__img" src="/image/selection/selectionBanner.png" />

				<svg class="icon__play-circle bi bi-play-circle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
					<path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445" />
				</svg>
				<svg class="icon__stop-circle bi bi-stop-circle-fill" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
					<path d="M5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5z" />
				</svg>
			</div>
			<h6>Portfolio - XXX-@i</h6>
			<p>Portfolio Description</p>
			@{
				await Html.RenderPartialAsync("_IconPartial", 2);
			}
		</div>
	}
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
	// 切換播放鍵與暫停鍵
	$(document).ready(function () {
		$(".card__img-box").on("click", function () {
			// 找到 .icon__play-circle 和 .icon__stop-circle，並切換顯示狀態
			$(this).find(".icon__play-circle, .icon__stop-circle").toggle();
		});
	});

</script>