
/* [BreakPoint]
    Small	sm	≥576px
    Medium	md	≥768px
    Large	lg	≥992px
    Extra large	xl	≥1200px
    Extra extra large	xxl	≥1400px
    本專案NAV選單使用 lg 
*/

/*

區塊> 以該區功能命名   >>.haeder  .nav  .main .footer .container
	  具有意義的獨立區塊

        display: inline-block;  讓按鈕有標準大小 
        padding: 10px 20px;     設定空間邊距
        font-size: 16px;        設定整體字型
        border-radius: 5px;     設定邊框長相/背景
        cursor: pointer;        
    EX:.btn 負責定義按鈕的基本樣式（大小、間距、圓角)

元素 > 以目的命名 > > .header__head-title .header__head-content
        Block 的一部分，單獨存在沒有意義，並且依賴著Block
        元素無法被雙重疊加，舉例：block__elem1__elem2

        display	設定 flex、grid 或 block 來調整元素排列
        width / height	設定元素大小，例如圖片、按鈕
        margin / padding	設定內外間距，確保元素之間有適當距離
        color / background	設定文字顏色、背景顏色
        border / box-shadow	設定邊框、陰影，提升 UI 層次感
        font-size / text-align	設定字體大小、對齊方式
        position	設定 relative、absolute 來控制位置
        overflow	控制內容溢出，如 hidden、scroll

修飾 > 調整大小顏色狀態 > > menu__item - active
        .form__input--large （較大的輸入框）
        .nav__item--active （選中的選單）
        .btn--primary (主要樣式)
        .btn--secondary (次要樣式)

*/


/*顯示或隱藏用*/
.show--element {
    display: block;
}

.hide--element {
    display: none;
}


/*【header】
  設定寬高 
  加入下底線*/
.header {
    height: var(--header-height);
    width: 100%;
    border-bottom: 1px solid var(--bs-gray-400);
    z-index: 99;
}


/*【header__container】 
  設定高100% 吃header設定 
  選單內容水平垂直對齊
*/
.header__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*【header__logo】
   調整logo區寬高
   調整內部圖片水平垂直置中*/
.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*width: 40%;*/
    height: calc(var(--header-height) - 5px);
}

/*【header__logo-img】
   設定圖片填滿header高度-5px*/
.header__logo-img {
    max-height: calc(var(--header-height) - 5px);
}

/*【header__menu】
   設定清單預設寬度 與最小寬度避免文字被壓縮*/
.header__menu {
    width: 50%;
    height: 100%;
    min-width: 480px;
    z-index: 99;
}

.header__menu-list {
    justify-content: space-around;
    width: 100%;
}

/*【header__menu-item--theme】
   取消超連結底線
   設定清單間padding*/
.header__menu-item--theme {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; 
    padding: 10px 0; 
}

    /*【header__menu-item--theme:hover】
    顯示底線+圓滑*/
    .header__menu-item--theme:hover {
        border-radius: 5px;
        border-bottom: 1px solid var(--bs-gray-400);
        /*border-top: 1px solid var(--bs-gray-400);*/
    }

.header__menu-item {
    cursor: pointer;
}

    .header__menu-item:hover {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 10px;
        transform: scale(1.1);
    }

.header__menu-item2 {
    display: none;
}
/*【header__menu-icon】
   設定內容高度 與header同高*/
.header__menu-icon {
    height: 100%;
}
/*【header__menu-btn】
   調整position絕對定位在最右側
   變更滑鼠指標*/
.header__menu-btn {
    position: absolute;
    left: 5px;
    /*top: 10px;*/
    cursor: pointer;
    display: none;
}

/*【header__icon-profile-popup】user頭像的清單
  【header__icon-search-popup】搜尋icon的清單
   調整外框架寬高
   絕對定位在header下的位置*/
.header__icon-profile-popup, .header__icon-search-popup {
    height: auto;
    position: absolute;
    top: calc(var(--header-height) + 5px);
    z-index: 99;
}

.header__icon-profile-popup {
    width: 150px;
    right: 20px;
}


.header__icon-search-popup {
    width: 250px;
    right: 150px;
}


/*【header__menu-list-profile】user頭像的清單
  【header__menu-list-search】搜尋icon的清單
   清除ul的預留空間與符號
   絕對定位在header下的位置
   設定寬度與框架相同並加入圓滑框線
   設定背景色
   設定清單文字置中*/
.header__menu-list-profile, .header__menu-list-search {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid var(--bs-gray-600);
    border-radius: 5px;
    text-align: center;
    background-color: var(--bs-gray-100);
    display: none;
}

.header__menu-list-search {
    padding: 10px 15px;
    position: relative;
}
/*【header__menu-item-profile】user頭像的清單
  【header__menu-item-search】搜尋icon的清單
   調整個清單上下距離
   拿掉超連結預設底線
   設置文字顏色與粗體*/
.header__menu-item-profile, .header__menu-item-search {
    display: inline-block;
    padding: 5px 0px;
    color: #000000;
    font-weight: bold;
}

.header__menu-item-search {
    width: 100%;
}

/*【header__search-input】查詢清單的input輸入框
  【header__search-btn】查詢清單的清空button
*/
.header__search-input, .header__search-btn {
    border-radius:px;
}

.header__search-input {
    padding-left: 5px;
    /*border:1px gray;*/
    height:25px;
    font-size:15px;
    margin-bottom:5px;
}

.header__search-title {
    text-align: left;
    position: relative;
}

.header__search-btn {
    position: absolute;
    right: 0px;
    height: 25px;
    font-size: 10px;
    line-height: 10px;
}
.search-record {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header__search-record {
    color: var(--bs-gray-600);
    font-size: var(--fsize-menu);
    margin-top: 15px;
    background-color: antiquewhite
}

.header__search-data {
    width: 88%;
    min-height: 20px;
    height: auto;
    position: absolute;
    top: 42px;
    left: 0px;
    border: 1px solid var(--bs-gray-600);
    border-radius: 2px;
    margin-left: 15px;
    z-index: 2;
    background-color: #FFFFFF;
    display: none;
    color: var(--bs-gray-600);
    font-size: var(--fsize-menu);
    text-align: left;
    padding-left: 5px;
    padding-top: 15px;
}

.header__menu-item-profile {
    text-decoration: none;
}


    /*【header__menu-item-profile:hover 】user頭像的清單
【header__menu-item-search:hover】搜尋icon的清單
文字變小
變更滑鼠指標*/
    .header__menu-item-profile:hover, .header__menu-item-search:hover {
        cursor: pointer;
    }

    .header__menu-item-profile:hover {
        transform: scale(0.9);
    }

/*【header__menu-hr-login 】user頭像的清單
    取消hr預設的間隔
    調整hr顏色與ul框線一致*/
.header__menu-hr {
    margin: 0px;
    color: var(--bs-gray-600);
}


/*【ICON】*/
.header__icon {
    flex: 1;
    padding-right: 10px;
    align-items: center;
    margin-top: 5px;
}
/*【ICON - 明暗模式】*/
.header__icon-mode {
    cursor: pointer;
}

.header__icon-mode-svg {
    position: absolute;
    fill: #000000;
}

.header__icon-mode-span {
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #000000;
}

.header__icon-mode-div {
    position: relative;
    width: 65px;
    height: 25px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #d7d7d7;
}
/*【ICON - 個人設定】*/
.header__icon-profile {
    border-radius: 10px;
}

.header__icon-profile-svg {
    cursor: pointer;
}

.header__icon-profile:hover {
    transform: scale(0.9);
}

/*【ICON - 搜尋】*/
.header__icon-search {
    border-radius: 10px;
}

    .header__icon-search:hover {
        transform: scale(0.9);
    }

.header__icon-search-svg {
    cursor: pointer;
}

.header__icon-mode:hover {
    transform: scale(0.9);
}


.header__btn-login {
    width: 95px;
    /* position: absolute;
    right: 10px;
    top: calc(var(--header-height: 50px)/2);*/
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/*【footer】*/
.footer {
    /*    position: absolute;
    bottom: 0;
*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: var(--footer-height);
}
/*【footer Flex容器】*/
.footer__container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*【footer logo】*/
.footer__logo {
    width: 20%;
    /*min-width: 300px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo-img {
    height: 25px;
}
/*【footer copyright】*/
.footer__copyright {
    text-align: center;
    font-size: var(--fsize-menu);
}

    .footer__copyright span {
        display: inline-block;
        white-space: normal;
        text-align: center;
    }

/*【footer ig fb yt】*/
.footer__link {
    width: 20%;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* 在小於 768px 的螢幕下顯示底線
   當切換成漢堡條選單時 li清單有底線
    請搭配 navbar-expand-{lg}
*/
@media (max-width: 992px) {


    /*【footer】*/
    .footer__logo {
        width: 50%;
    }

    .footer__copyright {
        width: 60%;
    }

    .footer__link {
        display: none;
    }

    /*【menu】*/
    .header__menu-btn {
        display: block;
    }

    .header__menu {
        height: auto;
        width: 100%;
        position: absolute;
        top: var(--header-height);
        background-color: var(--bs-gray-700);
        min-width: 100%;
        display: none;
    }

    .header__menu-item {
        border-bottom: 1px solid var(--bs-gray-500);
        width: 100%;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /*color: var(--bs-gray-800);*/
    }

        .header__menu-item:hover {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            padding-left: 25px; /* 讓 hover 有向右的流動感 */
        }

    /*    .header__menu-item--theme {
        font-size: var(--fsize-menu-lg);
    }*/

    .header__menu-item--theme:hover {
        border-radius: 0px;
        border-bottom: none;
    }

    .header__menu-item2 {
        display: inline-flex;
    }

/*    登出按鈕背景移除*/
    .header__btn-logout {
        background: none; 
        border: none;
        padding: 0;
        color: inherit; 
        font-size: inherit; 
        cursor: pointer;
    }

    /*【ICON】*/
    .header__icon-search-popup {
        right: 20px;
    }

    .header__icon-search:hover {
        transform: translateY(50%) scale(0.8);
    }

    .header__icon-search {
        position: absolute;
        right: 10px;
        transform: translateY(50%);
    }

    .header__icon-mode, .header__icon-profile {
        display: none;
    }

    .header__icon > .header__btn-logout, .header__icon > .header__btn-login {
        display: none;
    }
    /*【logo】*/
    .header__logo {
        position: absolute;
        left: 45%; /* 讓左邊緣對齊視窗 50% */
        transform: translate(-40%); /* 向左移動自身寬度的一半，使其真正置中 */
    }
}

@media (max-width: 576px) {
    .header__menu-item--theme {
        font-size: var(--fsize-menu);
    }
}


/*音樂撥放器 外框*/
.music-player {
    width: 160px;
    height: 35px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px gray;
    background-color: #2a2a2a;
    position: fixed;
    right: 5px;
    bottom: calc( var(--footer-height) - 45px );
    padding:0px 10px;
    line-height:35px;
}
@media (max-width: 768px) {
    .music-player {
        background-color: transparent;
    }
}

/*將所有icon都設置hover*/
.bi {
    cursor: pointer;
}

    .bi:active {
        transform: scale(0.9);
    }


/*音樂撥放器(展開/未展開視窗時:預設先隱藏暫停按鈕)*/
.icon__stop-circle {
    display: none;
    transition: opacity 0.3s ease-in-out;
}
/*音樂撥放器(展開/未展開視窗時:文字顯示區)*/
.playlist__info {
    margin: 0px 5px;
    line-height: 10px;
}
    .playlist__info p, .playlist__info span {
        font-size: 10px;
    }
    .playlist__info p {
        margin: 0;
    }
    .playlist__info span {
        color: gray;
    }

/*音樂撥放器(未展開視窗時)*/
.music-player__for-lg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


/*音樂撥放器(未展開視窗時:封面圖片)*/
.music-player__img-cover {
    border-radius: 5px;
    box-shadow: -2px 2px #595757;
    width: 25px;
    height: 25px;
    border: 2px solid gray;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .music-player {
        width: 60px;
        height: 60px;
        box-shadow: initial;
    }

    .music-player__for-md {
        width: 55px;
        height: 55px;
        border-radius: 5px;
        background-image: url('/image/playerLogo.png');
        background-size: cover; /* 讓圖片填滿 */
        background-position: center; /* 讓圖片置中 */
        background-repeat: no-repeat; /* 防止圖片重複 */
        cursor:pointer;
    }
        .music-player__for-md:hover{
            transform:scale(1.1);
        }
        .music-player__for-lg {
            display: none;
        }
}

/*音樂撥放器(展開視窗時)*/
.music-player__window {
    width: 200px;
    height: 300px;
    bottom: calc( var(--footer-height) + 10px);
    border-radius: 5px;
    box-shadow: inset 0 0 10px gray;
    background-color: #2a2a2a;
    position: fixed;
    right: 5px;
    display: none;
    z-index:999;
}
@media (max-width: 576px) {
    .music-player__window {
        width: 80%;
        right: 50%;
        transform: translate(50%, 50%);
        bottom: 50%;
        height: 300px;
    }
}

/*音樂撥放器(展開視窗時的header)*/
.window__header {
    width: 100%;
    height: 20px;
    background-color: #2a2a2a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 0 10px gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*音樂撥放器(展開視窗時的header功能:縮小視窗)*/
.window__header-zoom-out {
    width: 15px;
    height: 3px;
    background-color: rgba(240, 248, 255, 0.4);
    margin-right: 15px;
    border-radius: 2px;
    cursor:pointer;
}
/*音樂撥放器(展開視窗時的區塊顯示:當前播放的音樂)*/
.window__playlist-current {
    width: 100%;
    padding: 10px 10px 0px 10px;
}

/*音樂撥放器(展開視窗時的區塊顯示:音樂時長)*/
#songTimeText {
    margin-left: auto;
    margin-right:5px;
    font-size:10px;
}
/*音樂撥放器(展開視窗時的icon控制區)*/
.window__controls {
    width: 100%;
    height: 25px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /*margin-bottom: 20px;*/
}

/*音樂撥放器(展開視窗時的icon控制區: 音樂撥放器進度條)*/
.window__controls-range {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-appearance: none;
    width: 90%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: width 0.2s ease; 
}
/* 自訂滑動紐（Chrome、Edge、Safari） */
.window__controls-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* 圓形大小 */
    height: 10px;
    background: red; /* 滑動紐顏色 */
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    /*top: 2px;*/ /* 調整滑動紐與軌道的距離 */
}

/*音樂撥放器(開啟視窗時的撥放清單區: 文字描述-撥放清單名稱/icon)*/
.window__playlist-descrition {
    width: 90%;
    height: 30px;
    /*background-color: #212121;*/
    border-radius: 5px;
    /*background-color: antiquewhite;*/
    margin: 20px 10px 0px 10px;
    display: flex;
    align-items: center;
    color: #808080;
}
/*音樂撥放器(展開視窗時的區塊顯示:音樂時長)*/
#songListText {
    font-size: 10px;

}
.music-player__circle-list{
    margin-left:5px;
}
/*音樂撥放器(開啟視窗時的撥放清單區)*/
.window__playlist {
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:5px 10px;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #212121;
    margin: 0px 10px;
    border-radius: 5px;
}
@media (max-width: 576px) {
    .window__playlist {
        height: 120px;
    }
}
/*音樂撥放器(開啟視窗時的撥放清單區: scrollbar)*/
.window__playlist::-webkit-scrollbar {
    height: 2px;
    width: 6px; 
}
.window__playlist::-webkit-scrollbar-track {
    background-color: #37474F; 
    border-radius: 10px;
    margin: 20px 130px;
}
.window__playlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2196F3; 
}


/*音樂撥放器(展開視窗時的撥放清單區: 內容區塊(封面圖 詳細資訊)*/
.playlist__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 5px 0px 5px;
    font-size: 14px;
    cursor: pointer;
}

/*音樂撥放器(展開視窗時的[下方撥放清單列表]區: 內容區塊(封面圖 詳細資訊)*/
    .playlist__song-list:active {
        border-radius: 5px;
        background-color: #2a2a2a;
        transform:scale(0.9);
    }


/*音樂撥放器(展開視窗時的撥放清單區: 專輯封面圖)*/
.playlist__img-cover {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    margin-right: 10px;
}




