<!-- 刪除歌單彈窗 -->
<div class="modal fade" id="deleteplaylist" tabindex="-1" aria-labelledby="deleteplaylistLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deleteplaylistLabel">刪除</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                你確定要刪除這個歌單？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-secondary confirmDelete" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>