
@{
}
@model List<VocalSpace.Models.ViewModel.Search.PlaylistDTO>

@for (int k = 0; k < Model.Count; k++)
{
    <div class="ranking-item">
        <a href="/Collection/listdetail/@Model[k].PlayListId"><img src="@Model[k].CoverImagePath" class="cover-block" alt="song cover"></a>
        <div class="info">
            <a href="/Collection/listdetail/@Model[k].PlayListId"><p class="song">@Model[k].Name</p></a>
            <a href="/Personal/mymusic/@Model[k].UserId"><p class="artist">@Model[k].SongCount 首歌曲．@Model[k].UserName</p></a> <!-- 顯示正確的歌曲數量 -->
        </div>
        @await Component.InvokeAsync("PlayListButton", new { PlayListId = Model[k].PlayListId })
    </div>
}


    




