
@{
    
}
@model List<VocalSpace.Models.ViewModel.Search.SongInfoDTO>
@* 總共3次 *@
@for (int k = 0;k < Model.Count; k++)
{
    <div class="ranking-item">
        <a href="/Song/@Model[k].SongId">
            <img src="@Model[k].CoverPhotoPath" class="cover-block" alt="song cover">
        </a>
        <div class="info">
            <p><a href="/Song/@Model[k].SongId">@Model[k].SongName</a></p>
            <p><a class="artist" href="/Personal/mymusic/@Model[k].UserId">@Model[k].UserName</a></p>
        </div>
        @await Component.InvokeAsync("SongButton", new { songId = @Model[k].SongId })
        
    </div>
}

