
@{
}

<div class="ranking-item">
        <img src="./image/idol.jpg" class="cover-block" alt="song cover">
        <div class="info">
            <p class="song">打不通的電話</p>
            <p class="artist">1 首歌曲．Sean Ko 高翔</p>
        </div>
    @await Html.PartialAsync("_SongListButtonModal")
 </div>
<div class="ranking-item">
    <img src="./image/idol.jpg" class="cover-block" alt="song cover">
    <div class="info">
        <p class="song">打不通的電話</p>
        <p class="artist">1 首歌曲．Sean Ko 高翔</p>
    </div>
    @await Html.PartialAsync("_SongListButtonModal")
</div>
<div class="ranking-item">
    <img src="./image/idol.jpg" class="cover-block" alt="song cover">
    <div class="info">
        <p class="song">打不通的電話</p>
        <p class="artist">1 首歌曲．Sean Ko 高翔</p>
    </div>
    @await Html.PartialAsync("_SongListButtonModal")
    </div>
<div class="ranking-item">
    <img src="./image/idol.jpg" class="cover-block" alt="song cover">
    <div class="info">
        <p class="song">打不通的電話</p>
        <p class="artist">1 首歌曲．Sean Ko 高翔</p>
    </div>
    @await Html.PartialAsync("_SongListButtonModal")
</div>
<div class="ranking-item">
    <img src="./image/idol.jpg" class="cover-block" alt="song cover">
    <div class="info">
        <p class="song">打不通的電話</p>
        <p class="artist">1 首歌曲．Sean Ko 高翔</p>
    </div>
    @await Html.PartialAsync("_SongListButtonModal")
    </div>
    




