
@{
}
@model List<VocalSpace.Models.ViewModel.Search.PlaylistDTO>

@for (int k = 0; k < Model.Count; k++)
{
    <div class="ranking-item">
        <img src="@Model[k].CoverImagePath" class="cover-block" alt="song cover">
        <div class="info">
            <p class="song">@Model[k].Name</p>
            <p class="artist">1 首歌曲．@Model[k].UserName</p>
        </div>
        @*@await Html.PartialAsync("_SongListButtonModal") *@
    </div>
}


    




