@{
    Layout = "_Layout";  // 引用全域的 _Layout.cshtml
}
    <div class="profile-header">

        <div class="cover">
            <div class="coverbutton">
            <button type="button" class="btn btn-danger"><i class="bi bi-plus-lg"></i>追蹤對方</button>
            </div>
        </div>
        <div class="pro">
            <div class="profile-info">
                <div class="personal-data">
                    <div class="avatar"></div>
                    <div class="osinfo">
                        <h2>ilyynlvl</h2>
                        <p>@@4osxm9 ・ 會員</p>
                        <p>於 2025 年 2 月 加入</p>
                    </div>
                </div>
                <div class="stats">
                    <ul b-lmw9bnkxzw="" class="list-inline opacity-75">
                        <li b-lmw9bnkxzw="" class="list-inline-item">
                            <h4 b-lmw9bnkxzw="" class="fs-6"> 追蹤中</h4>
                            <h4 b-lmw9bnkxzw="">0</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <nav class="menu" id="myList">
        <a href="#">音樂</a>
        <a href="#" class="active">歌單</a>
        <a href="#">喜歡</a>
        <a href="#">關於</a>
    </nav>       

    <div class="right-panel">
    @RenderBody()
    </div>


