@model List<VocalSpace.Models.ViewModel.Personal.PersonalViewModel>

@{
    Layout = "_Layout";  // 引用全域的 _Layout.cshtml
    // int id = 1;    
}

<div class="profile-header">
   
   @* @{if (Model.UserId == id) { *@
		<!-- 預覽封面圖片 -->
       <div class="cover-container"> 
           <div class="covercover">
            <img id="coverpreview" style="display: block;" src="/image/p2.jpeg" alt="封面圖片">
        </div> 
           <label class="coverupload-btn"> 
               選擇圖片 
               <input type="file" id="coverfileInput" accept="image/*"> 
           </label>
       </div>

  @*  } else   *@
  @*  { *@
  @*           <div class="cover-container"> *@
  @*             <div class="covercover"> *@
  @*           <img style="display: block;" src="/image/p2.jpeg" alt="封面圖片"> *@
  @*       </div>  *@
  @*               <div class="coverbutton">  *@
  @*                   <button type="button" class="btn btn-danger"><i class="bi bi-plus-lg"></i>追蹤對方</button> *@
  @*               </div>  *@
  @*           </div>  *@
  @*        }  *@
  @* }  *@
    

            

           
        <div class="pro">
            <div class="profile-info">
                <div class="personal-data">
                    <!-- 預覽頭貼圖片 -->
                 @* @{if (Model.UserId == id) {      *@
                   <div class="head-container"> 
                       <div class="headcover">
                        <img style="display: block;" src="/image/p3.jpeg" id="headpreview" alt="頭貼圖片">
                    </div> 
                       <label class="headupload-btn"> 
                           選擇圖片
							<input type="file" id="headfileInput" accept="image/*">
                    </label> 
                   </div>
                <!-- 提交表單來更新頭像 -->
                
                    @* <input type="file" id="headfileInput" name="avatar" accept="image/*" style="display: none" onchange="previewImage(event)"> *@
                    @* <button type="submit" class="btn btn-primary">上傳頭像</button> *@
                
                @*     } else   *@
                @*        { *@
                @* <div class="head-container"> *@
                @*     <div class="headcover"> *@
                @*         <img style="display: block;"src="/image/p3.jpeg" alt="頭貼圖片"> *@
                @*     </div> *@
                @* </div> *@
                @*     } *@
                @* } *@
                <div class="osinfo">
                        <h2>@Model.First().Account</h2>
                        <p>@@4osxm9 ・ 會員</p>
                        <p>於 2025 年 2 月 加入</p>
                    </div>
                </div>
                <div class="stats">
                    <ul b-lmw9bnkxzw="" class="list-inline opacity-75">
                        <li b-lmw9bnkxzw="" class="list-inline-item">
                            <h4 b-lmw9bnkxzw="" class="fs-6"> 追蹤中</h4>
                            <h4 b-lmw9bnkxzw="">0</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div> 
    
    @RenderBody()

    @section Scripts{
<script>
    // 頭貼預覽
        document.getElementById("headfileInput").addEventListener("change", function(event) {
            const file = event.target.files[0];
            const fileNameDisplay = document.getElementById("headfileName");

            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.getElementById("headpreview");
                    img.src = e.target.result;
                    img.style.display = "block";
                };
                reader.readAsDataURL(file);

        }});

        // 封面預覽
        document.getElementById("coverfileInput").addEventListener("change", function(event) {
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.getElementById("coverpreview");
                    img.src = e.target.result;
                    img.style.display = "block";
                };
                reader.readAsDataURL(file);
                
        
    }});
</script>
}



