.progress-container {
  max-width: 1000px;
  margin: 75px auto 55px auto;
  padding: 0 20px;
  position: relative;
}

.progress-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.progress-line {
  flex: 1;
  height: 1px;
  background: #e0e0e0;
  margin: 0 10px;
}

.progress-line.active {
  background: #f9595f;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}

.step-label {
  color: #666;
  font-size: 14px;
  text-align: center;
  min-width: max-content;
  margin-top: 10px;
}

.step.active .step-circle {
  background-color: #f9595f;
}

.step.active .step-label {
  color: #f9595f;
}

.signup-step-container {
  /* 裡面元素的排版*/
  display: flex;
  flex-direction: column; /* 讓內部元素垂直排列 */
  align-items: center; /* 水平置中 */
  /*    text-align: center;*/

  width: auto;
  height: 100%;
  padding: 0 2% 3% 2%;
  margin: 1% 0 3% 0;
  border: 1px solid #cccccc84;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.main {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 890px) {
    .step-circle {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    .step-label {
        font-size: 12px;
    }

    .progress-line {
        height: 2.5px;
    }
}

@media (max-width: 768px) {
    .step-circle {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .step-label {
        font-size: 11px;
    }

    .progress-steps {
        max-width: 95%;
    }
}

@media (max-width: 650px) {
    .step-circle {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

    .step-label {
        font-size: 9px;
        margin-top: 5px;
    }

    .progress-line {
        height: 2px;
    }
}

@media (max-width: 590px) {
    .step-circle {
        width: 20px;
        height: 20px;
        font-size: 9px;
    }

    .step-label {
        font-size: 8px;
    }

    .progress-line {
        height: 1.5px;
    }

    .progress-steps {
        max-width: 100%;
        padding: 0 5px;
    }
}

@media (max-width: 480px) {
    .step-circle {
        width: 16px;
        height: 16px;
        font-size: 8px;
    }

    .step-label {
        font-size: 7px;
        margin-top: 4px;
    }

    .progress-steps {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .progress-container {
        padding: 0 5px;
    }

    .step-circle {
        width: 14px;
        height: 14px;
        font-size: 7px;
    }

    .step-label {
        font-size: 6px;
        margin-top: 3px;
    }
}