@model VocalSpace.Models.ViewModel.Global.UserBarViewModel
<div class="userinfo container">
	<div class="userpic">
		<a class="Avater-link" href="#">
			<img class="pfp" src="@Model.pfp">
		</a>
	</div>
	<div class="userid">
		<a class="pf" href="#">@(Model.Name ?? Model.Account)</a>
		<p class="pftext">@@@Model.Account</p>
	</div>
	<div class="userfollow">
		<button class="btn btn-danger follow">追蹤</button>
	</div>
</div>
