@model VocalSpace.Models.ViewModel.Global.UserBarViewModel
<div class="userinfo container">
	<div class="userpic">
		<a class="Avater-link" href="/Personal/mymusic/@Model.Account">
			<img class="pfp" src="@Model.pfp">
		</a>
	</div>
	<div class="userid">
		<a class="pf" href="/Personal/mymusic/@Model.Account">@(Model.Name ?? Model.Account)</a>
		<p class="pftext">@@@Model.Account</p>
	</div>
    <div class="userfollow">
        <button class="btn btn-danger btn-follow" data-userid="@Model.Account">追蹤</button>
    </div>
</div>
