
@*
    歌曲介紹頁-按鈕UI
*@
<div class="btn-group">
    <button class="btn btn-primary">加入</button>
    <button class="btn btn-secondary">分享</button>
    <button class="btn btn-success">喜歡</button>
    <button class="btn btn-warning">錢</button>
    <button class="btn btn-danger">播放</button>
</div>