
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="userinfo container">
	<div class="userpic">
		<a class="Avater-link" href="#">
			<img class="pfp" src="/image/Wchi.png">
		</a>
	</div>
	<div class="userid">
		<a class="pf" href="#">Wchi</a>
		<p class="pftext">@@wchiii</p>
	</div>
	<div class="userfollow">
		<button class="btn-danger follow">追蹤</button>
	</div>
</div>
