
@{
}
<div>
    <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#Modal1"><i class="bi bi-plus-lg"></i></button>
    <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#Modal2"><i class="bi bi-share"></i></button>
    <button class="btn btn-outline-secondary heart" onclick="ButtonHeart(this)"><i class="bi bi-heart-fill"></i>684</button>
    <button class="btn btn-outline-secondary" onclick="playSong(1)"><i class="bi bi-play"></i></button>
</div>