@model VocalSpace.Models.ViewModel.Global.UserBarViewModel
<div class="userinfo container">
	<div class="userpic">
		<a class="Avater-link" href="/Personal/mymusic/@Model.target_userId">
			<img class="pfp" src="@Model.pfp">
		</a>
	</div>
	<div class="userid">
		<a class="pf" href="/Personal/mymusic/@Model.target_userId">@(Model.Name ?? Model.Account)</a>
		<p class="pftext">@@@Model.Account</p>
	</div>
	<div class="userfollow">
		@if (Model.target_userId != Context.Session.GetInt32("UserId"))
		{
		<button class="btn btn-danger btn-follow @(Model.isFollowing ? "selected" : "")" data-userid=@Model.target_userId>@(Model.isFollowing ? "已追蹤" : "追蹤")</button>
		}
	</div>
</div>
