
@{
}

    <div class="ranking-item">
        <img src="./image/idol.jpg" class="cover-block" alt="song cover">
        <div class="info">
            <p class="song">打不通的電話</p>
            <p class="artist">1 首歌曲．Sean Ko 高翔</p>
        </div>
        <button class="btn btn-outline-secondary editlist" onclick="editlist()"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-outline-secondary book"><i class="bi bi-bookmark-check-fill"></i></button>
        <button class="btn btn-outline-secondary random"><i class="bi bi-shuffle"></i></button>
    </div>
    




