@model IEnumerable<VocalSpace.Models.ViewModel.Personal.PersonalViewModel>

@{
	Layout = "_PersonalLayout";  
}
 <nav class="menu" id="myList">
        <a href="/Personal/mymusic/@Model.FirstOrDefault()!.UserId">音樂</a>
        	@if (Model.FirstOrDefault()!.CurrentUserId == Model.FirstOrDefault()!.UserId) { 

         <a href="/Personal/mylist/@Model.FirstOrDefault()!.UserId">歌單</a>
         <a href="/Personal/mylike/@Model.FirstOrDefault()!.UserId">喜歡</a>
            }
        <a href="/Personal/myabout/@Model.FirstOrDefault()!.UserId" class="active">關於</a>
</nav>
<div class="playlist">
        <div class="playlist-card">
            <h2>關於哈哈是我啦</h2> 
            <h6>哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦哈哈是我啦</h6>
        </div>
</div>