@{
	Layout = "_PersonalLayout";  
}
 <nav class="menu" id="myList">
        <a href="/Personal/mymusic">音樂</a>
        <a href="/Personal/mylist">歌單</a>
        <a href="/Personal/mylike" class="active">喜歡</a>
        <a href="/Personal/myabout">關於</a>
</nav>
<div class="playlist">
       <div class="playlist-card">
       </div>
</div>