@{
	Layout = "_PersonalLayout";
}

<nav class="menu" id="myList">
	<a href="/Personal/mymusic" class="active">音樂</a>
	<a href="/Personal/mylist">歌單</a>
	<a href="/Personal/mylike">喜歡</a>
	<a href="/Personal/myabout">關於</a>
</nav>

<div class="w80"><hr></div>
<div class="title mb-4">
	<div class="littletitle">
		<h2>歌曲(8)</h2>
		<div class="playAll"><button class="btn btn-danger playall"><i class="bi bi-play"></i>全部播放</button></div>
	</div>
</div>
@{
	<div class="playlist">
		<div class="playlist-card">
			<div class="songs">

				<div class="row">
						
							<div class="col-lg-2 col-md-4 col-sm-5 p-1">

								<div class="song">
								<a href=#>
									<img src="/image/p1.jpg" class="img-fluid" style="object-fit: cover;" alt="俘留"></a>
									<div class="songbutton">
										<div class="songdetail">
										<a href="#"><h5>俘留 (影集《化外之聲》插曲)</h5></a>
										<a asp-controller="Song" asp-action="Index"><p>LaDY</p></a>
										</div>
										<div class="button">
											<button class="btn btn-outline-secondary editlist"><i class="bi bi-pencil-square"></i></button>
											<button class="btn btn-outline-secondary deletelist" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash"></i></button>
										</div>
									</div>
								</div>
							</div>
						
					</div>

			</div>
		</div>
	</div>
}
<div class="w80"><hr></div>
<div class="title mb-4">
	<div class="littletitle">
		<h2>審核中歌曲(5)</h2>
	</div>
</div>
@{
	<div class="playlist">
		<div class="playlist-card">
			<div class="songs">

				<div class="row">
					@for (var i = 1; i <= 5; i++)
					{
						<div class="col-lg-2 col-md-4 col-sm-6 p-1">

							<div class="song" style="justify-content:left; align-items:flex-start;">
								<img src="/image/p1.jpg" class="img-fluid" style="opacity: 0.5; object-fit: cover;" alt="俘留">
								<div class="songdetail">
									<h5>俘留 (影集《化外之聲》插曲)</h5>
									<p>LaDY</p>
								</div>
							</div>
						</div>
					}
				</div>

			</div>
		</div>
	</div>
}

<!-- 刪除歌單彈窗 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content webtheme">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLabel">刪除</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				你確定要刪除這個歌單？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
				<button type="button" class="btn btn-secondary">確定</button>
			</div>
		</div>
	</div>
</div>
