@{

}
<link rel="stylesheet" href="~/css/song.css" asp-append-version="true" />

<title>聲維宇宙排行榜</title>
<div class="page-container mb-5">
	<div class="top-container container">
		<!-- 左側圖片區域 -->
		<div class="col-md-4 songpfp">
			<img src="/image/p1.jpg">
		</div>
		<!-- 右側音樂介紹區域 -->
		<div class="row col-md-8 songinfo">
			<h1>打不通的電話</h1>
			<div class="opacity-50">
				<div>
					<a>1首歌</a>
				</div>
			</div>
			<div class="cols-2">
				<div class="row-item">
					<ul class="list-inline opacity-75">
						<li class="list-inline-item">
							<h4 class="fs-6">播放次數</h4>
							<h4>0</h4>
						</li>
						<li class="list-inline-item">
							<h4 class="fs-6">喜歡</h4>
							<h4>0</h4>
						</li>
					</ul>
					<div class="ui-button">
						@await Html.PartialAsync("_SongDeleteButtonUI")

					</div>
				</div>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("_DonateModal")

	<!-- 放在圖片下方的歌手資訊 -->
	<div class="bottom-container container">
		<div class="left-container  col-4">
			@await Html.PartialAsync("_Songdetail_artist_partial")
			<div class="container">
				<hr class="mt-5 mb-2">
				<p class="text-gray-light mb-2 opacity-50">發布日期:2025/02/28</p>
				<hr class="mt-2 mb-5">
			</div>
			@* 廣告圖 *@
			<div class="ad_container container">
				<img src="/image/SportMatchad.jpg">
			</div>
		</div>
		<div class="right-container col-8">
			<h3>曲目</h3>
				@await Html.PartialAsync("_partialViewSong")
		</div>
	</div>
</div>
<script src="~/js/partialViewSong.js" asp-append-version="true"></script>

@section Scripts {
	<script>
	@* document.addEventListener("DOMContentLoaded", function () {
				var toggleBtn = document.querySelector(".toggle-btn");
				var introduce = document.querySelector(".introduce");

				toggleBtn.addEventListener("click", function () {
					if (introduce.classList.contains("expanded")) {
						// 目前展開，點擊後收合
						introduce.classList.remove("expanded");
						toggleBtn.textContent = "查看更多";
					} else {
						// 目前收合，點擊後展開
						introduce.classList.add("expanded");
						toggleBtn.textContent = "收合";
					}
				});
			}); *@

			$(document).ready(function () {
				$('.toggle-btn').click(function () {
					const introduce = $(this).prev('.introduce');
					if (introduce.css('max-height') === '50px') {
						introduce.css('max-height', introduce.prop('scrollHeight') + 'px');
						$(this).text('收起內容');
					} else {
						introduce.css('max-height', '50px');
						$(this).text('查看更多');
					}
				});
			});
	</script>
}