@{
    ViewData["Title"] = "上傳音樂";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <!-- 上傳區域 -->
        <div class="col-md-6 mb-4">
            <div class="upload-container my-5 p-5 rounded-2" id="uploadArea">
                <div class="text-center">
                    <i class="bi bi-cloud-arrow-up" style="font-size: 5rem; color:#F9595F;"></i>
                    <h4 class="mt-3 mb-3">上傳檔案或將檔案拖曳到這裡</h4>
                    <p class="text-muted small">※ 上傳格式限 MP3，檔案大小上限為 30MB</p>
                    
                    <div id="uploadAudioForm" class="mt-4">
                        <div class="d-grid gap-2 col-md-6 mx-auto">
                            <input type="file" id="fileInput" name="audioFile" class="d-none" accept=".mp3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上傳失敗的畫面 -->
        <div class="col-md-10 mb-4" id="errorArea" style="display: none;">
            <div class="upload-container my-5 p-5 border border-dashed rounded-3 text-center">
                <div class="text-center">
                    <i class="bi bi-exclamation-triangle" style="font-size: 4rem; color:#F9595F;"></i>
                    <h4 class="mt-4 mb-3 text-danger">上傳失敗</h4>
                    <p class="text-muted small" id="errorMessage"></p>
                    <button type="button" class="btn btn btn-outline-secondary mt-3" onclick="resetUpload()">重新上傳</button>
                </div>
            </div>
        </div>
        
        <!-- 上傳完成後顯示區域 -->
        <div class="col-md-8" id="uploadResultContainer" style="display: none;">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row responsive-layout ">
                        <!-- 左側封面區域 -->
                        <div class="col-md-4 responsive-cover">
                            <div class="left-part text-center">
                                <div class="cover-preview mb-3" id="coverPreview">
                                    <img src="/image/Song/default.jpg" alt="封面預覽" class="img-fluid">
                                </div>
                                <p class="small text-muted">圖片檔案大小不可超過 2MB</p>
                                <label for="coverImageInput" class="btn btn-outline-secondary btn-sm">上傳封面</label>
                                <input type="file" id="coverImageInput" name="coverImage" class="d-none" accept=".jpeg,.png,.jpg" onchange="previewCoverImage(this)">
                            </div>
                        </div>
                        
                        <!-- 右側檔案資訊 -->
                        <div class="col-md-8 responsive-info">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-grow-1">
                                    <h5 id="uploadedFileName"></h5>
                                    <div class="progress" id="uploadProgressContainer">
                                        <div id="uploadProgress" class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                                    </div>
                                    <div class="alert alert-info mt-2" id="uploadStatusMessage">
                                        儲存中... 你的檔案正在上傳！在完成之前請不要關閉這個頁面......
                                    </div>
                                    <div class="text-end">
                                        <button class="btn btn-sm btn-outline-danger" id="cancelUploadBtn">取消上傳</button>
                                    </div>
                                </div>
                            </div>
                            
                            <hr>
                            
                            <!-- 歌曲資訊表單 -->
                            <div class="mt-4">
                                <h5>歌曲資訊</h5>
                                <div id="songInfoForm">
                                    <div class="row mb-3">
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" name="songName" id="songTitle" value="" placeholder="歌曲標題">
                                            <div class="error-feedback mt-1" style="color:#F9595F; font-size:15px ;display: none;" id="titleError">請輸入歌曲標題</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-11">
                                            <select class="form-select" id="songGenre" name="categoryID" required>
                                                <option value="0">分類：未分類</option>
                                                <option value="1">搖滾</option>
                                                <option value="2">民謠</option>
                                                <option value="3">嘻哈</option>
                                                <option value="4">都會</option>
                                                <option value="5">電子</option>
                                            </select>
                                            <div class="error-feedback mt-1" style="color:#F9595F; font-size:15px ;display: none;" id="genreError" >請選擇一個分類</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-11">
                                            <textarea class="form-control" id="songDescription" name="description" rows="6" placeholder="請輸入歌曲介紹"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-11">
                                            <textarea class="form-control" id="songLyrics" name="lyrics" rows="6" placeholder="請輸入歌詞"></textarea>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button id="submitSong" class="btn btn-primary" style="background-color:#F9595F;border: 0px">送出</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 上傳成功彈窗 -->
                            <div class="custom-modal" id="successModal">
                                <div class="modal-content">
                                    <div class="success-icon">
                                        <i class="bi bi-check2-circle"></i>
                                    </div>
                                    <div class="success-text">上傳成功</div>
                                    <p class="mt-3" style="color: #333;font-size:12px;" >跳轉到首頁中...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        const maxSizeInBytes = 30 * 1024 * 1024; // 30MB 檔案大小限制
        const maxSizePhoto = 2 * 1024 * 1024; // 2MB 封面圖片大小限制
        let coverFile = null;
        let audioFile = null;

        // 重置上傳界面
        function resetUpload() {
                $('#errorArea').hide();
                $('#fileInput').val('');
                $('#uploadArea').show();
        }
        // 封面圖片預覽
        function previewCoverImage(input) {
            const file = input.files[0];
            coverFile = file;
            const preview = $('#coverPreview');
            if (coverFile) {
                if (coverFile.size <= maxSizePhoto) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        preview.html(`<img src="${e.target.result}" alt="封面預覽" class="">`);
                    };
                    reader.readAsDataURL(coverFile);
                } else {
                    alert("檔案上傳限制為2MB");
                        coverFile="";
                }
            }
        }

        // 提交歌曲資訊表單
        function checkTitleAndGenre() {
            const songTitle = $('#songTitle');
            const songGenre = $('#songGenre');
            const songDescription = $('#songDescription');
            if (!$('#fileInput').val()) {
                alert('請先上傳音樂檔案！');
                return false;
            }

            if (songTitle.val() === '') {
                $('#titleError').show();
                songTitle.addClass('is-invalid');
                songTitle.on('change', function () {
                    if ($(this).val() !== '') {
                        $('#titleError').hide();
                        $(this).removeClass('is-invalid');
                    }
                });
                return false;
            } else if (songTitle.val().length > 20) {
                alert('歌曲名稱不能超過 20 個字！');
                return false;
            }

            if (songGenre.val() === '0') {
                $('#genreError').show();
                songGenre.addClass('is-invalid');
                songGenre.on('change', function () {
                    if ($(this).val() !== '0') {
                        $('#genreError').hide();
                        $(this).removeClass('is-invalid');
                        return true;
                    }
                });
                return false;
            }

            if (songDescription.val().length > 200) {
                alert('歌曲介紹不能超過 200 個字！');
                return false;
            }
            return true;
        };

        $(document).ready(function () {
            // 顯示錯誤訊息
            function showErrorMessage(message) {
                $('#uploadArea').hide();
                $('#errorMessage').text(message);
                $('#errorArea').show();
            }

            // 模擬表單提交並顯示上傳進度
            function submitForm() {
                const fileInput = $('#fileInput')[0];
                console.log(fileInput.files.length);
                if (!fileInput.files || fileInput.files.length === 0) {
                    alert('請先選擇一個檔案');
                    return;
                }

                $('#uploadResultContainer').show();
                $('#uploadArea').hide();

                const fullFileName = fileInput.files[0].name;
                $('#uploadedFileName').text(fullFileName);
                $('#songTitle').val(fullFileName.substring(0, fullFileName.lastIndexOf('.')));
                simulateUploadProgress();
            }

            // 模擬上傳進度
            function simulateUploadProgress() {
                let progress = 0;
                const progressBar = $('#uploadProgress');
                const statusMessage = $('#uploadStatusMessage');

                const interval = setInterval(() => {
                    progress += Math.floor(Math.random() * 10) + 1;
                    if (progress >= 100) {
                        progress = 100;
                        clearInterval(interval);

                        progressBar.css('width', progress + '%').text(progress + '%')
                            .removeClass('bg-danger').addClass('bg-success');

                        statusMessage.removeClass('alert-info').addClass('alert-success')
                            .html('<i class="bi bi-check-circle me-2"></i>檔案上傳成功');

                        $('#cancelUploadBtn').hide();
                    } else {
                        progressBar.css('width', progress + '%').text(progress + '%');
                    }
                }, 300);
            }


            // 檔案選擇處理
            function handleFileSelection(file) {
                if (file) {
                    if (file.type === "audio/mpeg" && file.size <= maxSizeInBytes) {
                        audioFile = file;
                        submitForm();
                    } else {
                        let errorMsg = file.type !== "audio/mpeg"
                            ? "很抱歉！你的檔案不是合格的 MP3，要不要修改後再試試呢？"
                            : "很抱歉！你的檔案大小超過 30MB 限制，請上傳較小的檔案。";
                        showErrorMessage(errorMsg);
                    }
                } else {
                    showErrorMessage("很抱歉！一次請上傳一份檔案。");
                }
            }
            // 點擊觸發檔案選擇器
            $('.upload-container').off('click').on('click', function () {
                $('#fileInput')[0].click(); // 直接觸發檔案選擇器
            });

            // 檔案選擇後的處理
            $('#fileInput').on('change', function () {
                const file = this.files[0];
                console.log("選擇的檔案：", file);
                if (file) {
                    handleFileSelection(file);
                }
            });

            // 拖放功能
            $('.upload-container').on('dragenter dragover', function (e) {
                e.preventDefault();
                $(this).addClass('border-primary');
            }).on('dragleave drop', function (e) {
                e.preventDefault();
                $(this).removeClass('border-primary');
            });

            $('.upload-container').on('drop', function (e) {
                const files = e.originalEvent.dataTransfer.files;
                const file = files[0];
                handleFileSelection(file);
            });

            // 取消上傳功能
            $('#cancelUploadBtn').on('click', function () {
                if (confirm('確定要取消上傳嗎？')) {
                    $('#uploadResultContainer').hide();
                    $('#uploadArea').show();
                }
            });

            // 送出表單
            $("#submitSong").click(function () {
                if (!coverFile || !audioFile) {
                    alert("請選擇音樂圖片！");
                    return;
                }
                
                if(!checkTitleAndGenre()){
                    return;
                }

                let formData = new FormData();
                formData.append("songName", $('#songTitle').val());
                formData.append("categoryID", $('#songGenre').val());
                formData.append("description", $('#songDescription').val());
                formData.append("lyrics", $('#songLyrics').val());
                formData.append("coverImage", coverFile);
                formData.append("audioFile", audioFile);

                $.ajax({
                    url: "/Collection/UploadMusic",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $('#successModal').css('display', 'flex');
                        setTimeout(() => {
                            window.location.href = '/home/index';
                        }, 5000);
                    },
                    error: function () {
                        alert("歌曲上傳失敗！");
                    }
                });
            });
    });
    </script>
    
}