@{
    ViewData["Title"] = "找不到搜尋結果";
}
@model VocalSpace.Models.ViewModel.Search.SearchViewModel
<link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
<style>
    .container {
        text-align: center;
    }

    .image-container {
        position: relative;
    }

    .sorry-image {
        width: 40%;
        max-width: 40%;
    }
</style>
<div class="container pb-10 pt-5">
    <h1 class="mb-4 position-relative search-title">
        <i class="bi bi-search mr-2"></i>
        @TempData.Peek("q")的搜尋結果
    </h1>
    <hr class="mb-5">
    <div class="row">
        <div class="col-md-12 container">
            <div class="tab-content image-container" id="tab-content">
                <img src="~/image/Sorrynopage_dark.png" class="sorry-image" alt="">
            </div>
            <h1>找不到搜尋結果</h1>
            <div class="mt-5 mb-5 text-center">
            </div>
        </div>
       
    </div>
</div>

<script src="~/js/partialViewSong.js" asp-append-version="true"></script> 
