@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<link rel="stylesheet" href="~/css/memberInformation.css" asp-append-version="true"/>


<section>
    <div class="container">
        <h1>帳號設定</h1>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="border">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <!-- d-none d-md-block : md以上，才會出現"會員資料" -->
                                <h2 class="nav-link d-none d-md-block nav-h2">會員資料</h2>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active nav-name">                                  
                                        基本資料                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-name">
                                    頭像與封面
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-name">
                                    電子信箱
                                </a>
                            </li>
                            <li class="nav-item">
                                <hr class="my-3">
                            </li>
                            <li class="nav-item">
                                <h2 class="nav-link d-none d-md-block nav-h2">帳號管理</h2>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-name">
                                    變更密碼
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-name">
                                    刪除帳號
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-8 col-lg-8">
                <form>
                    <div class="form-group">
                        <h2>基本資料</h2>
                    </div>
                    <div class="form-group">
                        <h3>你的名字(顯示名稱)</h3>
                        <input class="form-control" name="username" placeholder="請輸入名字">
                    </div>
                    <div class="form-group">
                        <h3>性別</h3>
                        <div class="d-flex justify-content-between">
                            <select class="form-control" style="width: 40%" name="gender" id="">
                                <option value="M">男</option>
                                <option value="F">女</option>
                            </select>
                            <select class="form-control" style="width: 40%" name="access" id="">
                                <option value="public">公開</option>
                                <option value="private">不公開</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <h3>生日</h3>
                        <div class="d-flex justify-content-between">
                            <input type="date" class="form-control" style="width: 40%" name="birthday" id="">
                            <select class="form-control" style="width: 40%;" name="access" id="">
                                <option value="public">公開</option>
                                <option value="private">不公開</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <h3>介紹</h3>
                        <textarea class="form-control" name="introduction" style="height:10vw" placeholder="請輸入介紹"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>