@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<title>聲維宇宙排行榜</title>
@* <div class="cbg"></div> *@
<div class="page-container">
	<div class="top-container container">
		<!-- 左側圖片區域 -->
		<div class="col-md-4 songpfp">
			<img src="/image/p1.jpg">
		</div>
		<!-- 右側音樂介紹區域 -->
		<div class="row col-md-8 songinfo">
			<h1 class="cols-1">打不通的電話</h1>
			<div class="cols-3 song-prop-row opacity-75">
				<div class="col-6">
					<a href="#"><strong>HipHop/Rap</strong></a>
				</div>
				<div class="col-6">
					<a href="#"><strong>專輯名稱</strong></a>
				</div>
			</div>
			<div class="cols-2">
				<div class="row-item">
					<ul class="list-inline opacity-75">
						<li class="list-inline-item">
							<h4 class="fs-6">播放次數</h4>
							<h4>0</h4>
						</li>
						<li class="list-inline-item">
							<h4 class="fs-6">喜歡</h4>
							<h4>0</h4>
						</li>
					</ul>
					<div class="ui-button">
						@await Html.PartialAsync("_Songdetail_ButtonUI")
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 放在圖片下方的歌手資訊 -->
	<div class="bottom-container container">
		<div class="left-container  col-4">
			<div class="userinfo container">
				<div class="col-3">
					<img class="pfp" src="/image/Wchi.png">
				</div>
				<div class="col-6">
					<a class="pf" href="#">Sean Ko 高翔</a><br/>
					<p class="pftext">@("@" + "username")</p>
				</div>
				<div class="col-3">
					<button class="btn-danger follow">追蹤</button>
				</div>
			</div>
			@* 廣告圖 *@
			<div class="ad_container"></div>
				<img src="/image/song1exp.jpeg">
		</div>
		<div class="right-container col-8">
			<h2>介紹</h2>
			<div class="introduce-area">
				<div class="introduce">
					<p>
						介紹內文<br />
						介紹內文<br />
						介紹內文<br />
						介紹內文<br />
						介紹內文
					</p>
				</div>
				<button class="btn-danger">查看更多</button>
			</div>
			<hr class="mt-5 mb-5">
			<h2>歌詞</h2>
			<div class="introduce-area">
				<div class="introduce">
					<p>歌詞內文</p>
					<p>1</p>
					<p>2</p>
					<p>3</p>
				</div>
				<button class="btn-danger">查看更多</button>
			</div>
			<hr class="mt-5 mb-5">
			<div class=" comment-area">
				<div class="comment">
					<div id="comment-box">
						<!-- 這裡會根據登入狀態決定顯示哪個區塊 -->
					</div>

					@* 					留言區partialview
					@await Html.PartialAsync("_Songdetail_ButtonUI") *@

				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
	</script>
}