main {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 讓 main 元素的高度為視窗高度 */
}

/*container區域*/

.page-container {
    flex:1;
}

.bottom-container{
    display:flex;
}

.top-container {
    width: 80%;
    margin-top: 20px;
    display: flex;
    margin-bottom:50px;
}

/*[data-theme='dark'] .cbg {
    z-index: -999;
    position: absolute;
    width: 100%;
    height: 45%;*/ /* 覆蓋整個container */
    /*background: linear-gradient(to bottom, grey, darkgrey);
}

[data-theme='light'] .cbg {
    z-index: -999;
    position: absolute;
    width: 100%;
    height: 45%;*/ /* 覆蓋整個container */
    /*background: linear-gradient(to bottom, lightgrey, darkgrey);
}*/

.left-container{
    margin-right:0;
    display:flex;
    flex-direction:column;
}
.right-container {
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.nopad{
    padding:0px;
}

/*去除超連結底線*/
a {
    text-decoration: none;
}

/*左邊區塊*/
songpfp {
    max-width: 380px;
}

.songinfo {
    position: relative;
    padding-left: 45px;
    padding-right: 15px;
}

.song-prop-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

.row-item {
    display: flex;
    justify-content: space-between
}

.ui-button {}

/*rwd*/

@media (max-width: 768px) {
    .top-container {
        flex-direction: column;
    }

    .songinfo {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 432px) {
    .top-container {
        flex-direction: column;
    }

    .songinfo {
        padding-left: 0;
        padding-right: 0;
    }
}